USE [master]
GO
/****** Object:  Database [PCS_APP]    Script Date: 25/7/2569 19:55:29 ******/
CREATE DATABASE [PCS_APP]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PCS_APP', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER01\MSSQL\DATA\PCS_APP.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PCS_APP_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER01\MSSQL\DATA\PCS_APP_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PCS_APP].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PCS_APP]
GO
/****** Object:  User [PcsWebApi]    Script Date: 25/7/2569 19:55:29 ******/
CREATE USER [PcsWebApi] FOR LOGIN [PcsWebApi] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [PcsWebApi]
GO
/****** Object:  FullTextCatalog [ProductCatalog]    Script Date: 25/7/2569 19:55:30 ******/
CREATE FULLTEXT CATALOG [ProductCatalog] WITH ACCENT_SENSITIVITY = ON
AS DEFAULT
GO
/****** Object:  Table [dbo].[AccountTransactions]    Script Date: 25/7/2569 19:55:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AccountTransactions](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TransactionDate] [datetime2](7) NOT NULL,
	[Type] [varchar](10) NOT NULL,
	[Amount] [decimal](18, 2) NOT NULL,
	[ReferenceType] [varchar](50) NULL,
	[ReferenceId] [int] NULL,
	[Notes] [nvarchar](max) NULL,
	[CreatedBy] [int] NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Branches]    Script Date: 25/7/2569 19:55:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Branches](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[BranchName] [nvarchar](100) NOT NULL,
	[Address] [nvarchar](max) NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[TaxId] [nvarchar](50) NULL,
	[RegistrationName] [nvarchar](255) NULL,
	[CompanyType] [nvarchar](50) NULL,
	[Phone] [nvarchar](50) NULL,
	[Email] [nvarchar](100) NULL,
	[LogoUrl] [nvarchar](2048) NULL,
	[BranchCode] [nvarchar](5) NOT NULL,
	[IsVatRegistered] [bit] NOT NULL,
	[VatDocumentUrl] [nvarchar](2048) NULL,
	[EntityType] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_Branches] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Branches_BranchCode] UNIQUE NONCLUSTERED 
(
	[BranchCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Branches_BranchName] UNIQUE NONCLUSTERED 
(
	[BranchName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 25/7/2569 19:55:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[CategoryId] [int] IDENTITY(1,1) NOT NULL,
	[CategoryName] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](500) NULL,
	[ParentId] [int] NULL,
	[SortOrder] [int] NOT NULL,
	[IsActive] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChartOfAccounts]    Script Date: 25/7/2569 19:55:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChartOfAccounts](
	[AccountId] [int] IDENTITY(1,1) NOT NULL,
	[AccountCode] [nvarchar](20) NOT NULL,
	[AccountName] [nvarchar](255) NOT NULL,
	[AccountType] [nvarchar](50) NOT NULL,
	[NormalBalance] [nvarchar](10) NOT NULL,
	[IsSystemAccount] [bit] NOT NULL,
	[Description] [nvarchar](500) NULL,
	[SortOrder] [int] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[AccountId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[AccountCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CompanyBankAccounts]    Script Date: 25/7/2569 19:55:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CompanyBankAccounts](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[BankName] [nvarchar](50) NOT NULL,
	[AccountNo] [varchar](20) NOT NULL,
	[AccountName] [nvarchar](255) NOT NULL,
	[ChartOfAccountId] [int] NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[AccountType] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FinancialLedgerEntries]    Script Date: 25/7/2569 19:55:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FinancialLedgerEntries](
	[EntryId] [bigint] IDENTITY(1,1) NOT NULL,
	[TransactionId] [int] NOT NULL,
	[AccountId] [int] NOT NULL,
	[DebitAmount] [decimal](18, 2) NOT NULL,
	[CreditAmount] [decimal](18, 2) NOT NULL,
	[Memo] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[EntryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FinancialTransactions]    Script Date: 25/7/2569 19:55:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FinancialTransactions](
	[TransactionId] [int] IDENTITY(1,1) NOT NULL,
	[TransactionDate] [date] NOT NULL,
	[TransactionType] [nvarchar](50) NOT NULL,
	[ReferenceType] [nvarchar](50) NULL,
	[ReferenceId] [int] NULL,
	[TaxInvoiceId] [int] NULL,
	[Description] [nvarchar](500) NULL,
	[TotalAmount] [decimal](18, 2) NOT NULL,
	[PaymentMethod] [nvarchar](20) NULL,
	[SourceAccountInfo] [nvarchar](255) NULL,
	[PaymentRefNo] [nvarchar](100) NULL,
	[ReceiverAccountId] [int] NULL,
	[AttachmentUrl] [nvarchar](500) NULL,
	[ReceivedBy] [int] NULL,
	[CreatedBy] [int] NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
	[Status] [nvarchar](50) NULL,
	[BranchId] [int] NULL,
	[PostedAt] [datetime2](7) NULL,
	[PostedBy] [int] NULL,
	[VoidedAt] [datetime2](7) NULL,
	[VoidedBy] [int] NULL,
	[DocumentNo] [nvarchar](50) NULL,
	[PartnerName] [nvarchar](255) NULL,
	[SlipDateTime] [datetime2](7) NULL,
	[OriginBank] [nvarchar](100) NULL,
	[DestinationBank] [nvarchar](100) NULL,
	[SourceAccountNo] [varchar](20) NULL,
	[DestinationAccountNo] [varchar](20) NULL,
	[SourceAccountName] [nvarchar](255) NULL,
	[DestinationAccountName] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[TransactionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GoodsReceiptItems]    Script Date: 25/7/2569 19:55:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GoodsReceiptItems](
	[ReceiptItemId] [bigint] IDENTITY(1,1) NOT NULL,
	[ReceiptId] [int] NOT NULL,
	[POItemId] [bigint] NOT NULL,
	[VariantId] [int] NOT NULL,
	[ExpectedQuantity] [int] NOT NULL,
	[ReceivedQuantity] [int] NOT NULL,
	[DefectiveQuantity] [int] NOT NULL,
	[DamagedQuantity] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ReceiptItemId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GoodsReceipts]    Script Date: 25/7/2569 19:55:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GoodsReceipts](
	[ReceiptId] [int] IDENTITY(1,1) NOT NULL,
	[ReceiptNo] [nvarchar](50) NOT NULL,
	[PurchaseOrderId] [int] NOT NULL,
	[ReceiptDate] [datetime2](7) NOT NULL,
	[ShippingCompany] [nvarchar](100) NULL,
	[TrackingNo] [nvarchar](100) NULL,
	[ShippingCost] [decimal](18, 2) NOT NULL,
	[Status] [nvarchar](20) NOT NULL,
	[Notes] [nvarchar](500) NULL,
	[ShippingPaymentMethod] [nvarchar](20) NULL,
	[ShippingPaymentRefNo] [nvarchar](100) NULL,
	[ShippingSourceAccount] [nvarchar](255) NULL,
	[ShippingSlipUrl] [nvarchar](500) NULL,
	[CreatedBy] [int] NULL,
	[UpdatedBy] [int] NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ReceiptId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[ReceiptNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Investment]    Script Date: 25/7/2569 19:55:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Investment](
	[InvestmentId] [uniqueidentifier] NOT NULL,
	[InvestorId] [uniqueidentifier] NOT NULL,
	[InvestmentType] [int] NOT NULL,
	[PrincipalAmount] [decimal](18, 2) NOT NULL,
	[Currency] [nvarchar](3) NOT NULL,
	[InterestRate] [decimal](5, 2) NULL,
	[StartDate] [date] NOT NULL,
	[MaturityDate] [date] NULL,
	[Status] [int] NOT NULL,
	[ContractUrl] [nvarchar](2048) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
	[CompanyBankAccountId] [int] NULL,
	[IsCash] [bit] NOT NULL,
	[PaymentProofUrl] [nvarchar](max) NULL,
	[InvestorBankAccountId] [uniqueidentifier] NULL,
PRIMARY KEY CLUSTERED 
(
	[InvestmentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[InvestmentInterestSchedule]    Script Date: 25/7/2569 19:55:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InvestmentInterestSchedule](
	[ScheduleId] [uniqueidentifier] NOT NULL,
	[InvestmentId] [uniqueidentifier] NOT NULL,
	[StartMonth] [int] NOT NULL,
	[EndMonth] [int] NOT NULL,
	[InterestRate] [decimal](5, 2) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ScheduleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[InvestmentSchedule]    Script Date: 25/7/2569 19:55:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InvestmentSchedule](
	[ScheduleId] [uniqueidentifier] NOT NULL,
	[InvestmentId] [uniqueidentifier] NOT NULL,
	[InstallmentNumber] [int] NOT NULL,
	[DueDate] [date] NOT NULL,
	[PrincipalAmount] [decimal](18, 2) NOT NULL,
	[InterestAmount] [decimal](18, 2) NOT NULL,
	[PaidAmount] [decimal](18, 2) NOT NULL,
	[Status] [int] NOT NULL,
	[PaymentDate] [datetime2](7) NULL,
	[CompanyBankAccountId] [int] NULL,
	[IsCash] [bit] NOT NULL,
	[SlipUrl] [nvarchar](2048) NULL,
	[TransactionId] [int] NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ScheduleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Investor]    Script Date: 25/7/2569 19:55:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Investor](
	[InvestorId] [uniqueidentifier] NOT NULL,
	[Title] [nvarchar](50) NOT NULL,
	[FirstName] [nvarchar](100) NOT NULL,
	[LastName] [nvarchar](100) NOT NULL,
	[TaxId] [nvarchar](50) NULL,
	[Address] [nvarchar](500) NULL,
	[Phone] [nvarchar](50) NULL,
	[Email] [nvarchar](100) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[InvestorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[InvestorBankAccount]    Script Date: 25/7/2569 19:55:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InvestorBankAccount](
	[BankAccountId] [uniqueidentifier] NOT NULL,
	[InvestorId] [uniqueidentifier] NOT NULL,
	[BankName] [nvarchar](100) NOT NULL,
	[AccountNumber] [varchar](50) NOT NULL,
	[AccountType] [nvarchar](50) NULL,
	[IsDefault] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[BankAccountId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PackingBatches]    Script Date: 25/7/2569 19:55:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PackingBatches](
	[BatchId] [int] IDENTITY(1,1) NOT NULL,
	[BatchNo] [nvarchar](50) NOT NULL,
	[ImportedAt] [datetime2](7) NOT NULL,
	[ImportedBy] [int] NULL,
	[TotalFiles] [int] NOT NULL,
	[TotalOrders] [int] NOT NULL,
	[TotalParcels] [int] NOT NULL,
	[TotalItems] [int] NOT NULL,
	[Status] [nvarchar](20) NOT NULL,
	[Notes] [nvarchar](max) NULL,
 CONSTRAINT [PK_PackingBatches] PRIMARY KEY CLUSTERED 
(
	[BatchId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[BatchNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PackingBatchItems]    Script Date: 25/7/2569 19:55:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PackingBatchItems](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[BatchId] [int] NOT NULL,
	[Platform] [nvarchar](20) NOT NULL,
	[OrderNo] [nvarchar](50) NOT NULL,
	[TrackingNo] [nvarchar](50) NOT NULL,
	[ShippingProvider] [nvarchar](100) NULL,
	[Sku] [nvarchar](50) NOT NULL,
	[VariantId] [int] NULL,
	[ProductName] [nvarchar](255) NULL,
	[OrderedQuantity] [int] NOT NULL,
	[ShippedQuantity] [int] NOT NULL,
	[OrderDate] [datetime2](7) NULL,
	[IsMultiParcel] [bit] NOT NULL,
	[ParcelSeq] [int] NOT NULL,
	[TotalParcelsInOrder] [int] NOT NULL,
	[PackStatus] [nvarchar](20) NOT NULL,
	[IsSkuMatched] [bit] NOT NULL,
 CONSTRAINT [PK_PackingBatchItems] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PackingPendingResolutions]    Script Date: 25/7/2569 19:55:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PackingPendingResolutions](
	[ResolutionId] [int] IDENTITY(1,1) NOT NULL,
	[BatchItemId] [bigint] NOT NULL,
	[OriginalVariantId] [int] NOT NULL,
	[ActualShippedVariantId] [int] NULL,
	[ShippedQuantity] [int] NOT NULL,
	[ResolutionType] [nvarchar](30) NOT NULL,
	[CustomerAgreementNote] [nvarchar](max) NULL,
	[FollowUpTrackingNo] [nvarchar](50) NULL,
	[ResolvedAt] [datetime2](7) NOT NULL,
	[ResolvedBy] [int] NULL,
 CONSTRAINT [PK_PackingPendingResolutions] PRIMARY KEY CLUSTERED 
(
	[ResolutionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PartnerBankAccounts]    Script Date: 25/7/2569 19:55:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PartnerBankAccounts](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SupplierId] [int] NULL,
	[PartnerName] [nvarchar](255) NOT NULL,
	[BankName] [nvarchar](50) NOT NULL,
	[AccountNo] [varchar](20) NOT NULL,
	[AccountName] [nvarchar](255) NOT NULL,
	[IsDefault] [bit] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Permissions]    Script Date: 25/7/2569 19:55:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Permissions](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PermissionCode] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](255) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Permissions] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Permissions_PermissionCode] UNIQUE NONCLUSTERED 
(
	[PermissionCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductPrices]    Script Date: 25/7/2569 19:55:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductPrices](
	[VariantId] [int] NOT NULL,
	[CurrencyCode] [nvarchar](3) NOT NULL,
	[BasePrice] [decimal](18, 2) NOT NULL,
	[DiscountPrice] [decimal](18, 2) NOT NULL,
	[DiscountPercent]  AS (case when [BasePrice]>(0) then CONVERT([decimal](5,2),(([BasePrice]-[DiscountPrice])/[BasePrice])*(100)) else (0) end) PERSISTED,
	[EffectiveFrom] [datetime2](7) NULL,
	[EffectiveTo] [datetime2](7) NULL,
	[AvgCost90Days] [decimal](18, 2) NOT NULL,
	[MinCost90Days] [decimal](18, 2) NOT NULL,
	[MaxCost90Days] [decimal](18, 2) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[VariantId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 25/7/2569 19:55:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[ProductId] [int] IDENTITY(1,1) NOT NULL,
	[ProductNameTh] [nvarchar](255) NOT NULL,
	[ProductNameEn] [nvarchar](255) NULL,
	[Description] [nvarchar](max) NULL,
	[BrandName] [nvarchar](100) NULL,
	[CategoryId] [int] NOT NULL,
	[ProductType] [nvarchar](20) NOT NULL,
	[IsStockTracked] [bit] NOT NULL,
	[ProductStatus] [nvarchar](20) NOT NULL,
	[CreatedAt] [datetime2](7) NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[CreatedBy] [int] NULL,
	[InventoryGroup] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductVariants]    Script Date: 25/7/2569 19:55:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductVariants](
	[VariantId] [int] IDENTITY(1,1) NOT NULL,
	[ProductId] [int] NOT NULL,
	[Sku] [nvarchar](50) NOT NULL,
	[Barcode] [nvarchar](50) NULL,
	[ImageUrl] [nvarchar](2048) NULL,
	[VariantStatus] [nvarchar](20) NOT NULL,
	[SizeLabel] [nvarchar](50) NULL,
	[Color] [nvarchar](50) NULL,
	[StylePattern] [nvarchar](50) NULL,
	[UnitOfMeasure] [nvarchar](50) NOT NULL,
	[Width] [decimal](10, 2) NOT NULL,
	[Length] [decimal](10, 2) NOT NULL,
	[Height] [decimal](10, 2) NOT NULL,
	[DimensionUnit] [nvarchar](10) NOT NULL,
	[Weight] [decimal](10, 2) NOT NULL,
	[WeightUnit] [nvarchar](10) NOT NULL,
	[Capacity] [decimal](10, 2) NULL,
	[CapacityUnit] [nvarchar](10) NULL,
	[MinOrderQty] [int] NOT NULL,
	[MaxOrderQty] [int] NULL,
	[VariantNameTh] [nvarchar](255) NULL,
	[VariantNameEn] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[VariantId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_ProductVariants_Sku] UNIQUE NONCLUSTERED 
(
	[Sku] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PurchaseOrderItems]    Script Date: 25/7/2569 19:55:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PurchaseOrderItems](
	[POItemId] [bigint] IDENTITY(1,1) NOT NULL,
	[PurchaseOrderId] [int] NOT NULL,
	[VariantId] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[UnitPrice] [decimal](18, 2) NOT NULL,
	[LineTotal] [decimal](18, 2) NOT NULL,
	[ReceivedQuantity] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[POItemId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PurchaseOrders]    Script Date: 25/7/2569 19:55:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PurchaseOrders](
	[PurchaseOrderId] [int] IDENTITY(1,1) NOT NULL,
	[PONo] [nvarchar](50) NOT NULL,
	[PODate] [date] NOT NULL,
	[SupplierName] [nvarchar](255) NOT NULL,
	[SupplierPhone] [nvarchar](50) NULL,
	[SupplierTaxId] [nvarchar](20) NULL,
	[SupplierAddress] [nvarchar](500) NULL,
	[SubTotal] [decimal](18, 2) NOT NULL,
	[DiscountTotal] [decimal](18, 2) NOT NULL,
	[ShippingCost] [decimal](18, 2) NOT NULL,
	[VatRate] [decimal](5, 2) NOT NULL,
	[VatAmount] [decimal](18, 2) NOT NULL,
	[GrandTotal] [decimal](18, 2) NOT NULL,
	[Status] [nvarchar](20) NOT NULL,
	[TaxInvoiceId] [int] NULL,
	[ExpectedDeliveryDate] [date] NULL,
	[PaymentMethod] [nvarchar](20) NULL,
	[PaymentRefNo] [nvarchar](100) NULL,
	[SourceAccountInfo] [nvarchar](255) NULL,
	[ReceiverAccountId] [int] NULL,
	[SlipAttachmentUrl] [nvarchar](500) NULL,
	[Notes] [nvarchar](500) NULL,
	[CreatedBy] [int] NULL,
	[UpdatedBy] [int] NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PurchaseOrderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[PONo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RolePermissions]    Script Date: 25/7/2569 19:55:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RolePermissions](
	[RoleId] [int] NOT NULL,
	[PermissionId] [int] NOT NULL,
 CONSTRAINT [PK_RolePermissions] PRIMARY KEY CLUSTERED 
(
	[RoleId] ASC,
	[PermissionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 25/7/2569 19:55:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](255) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Roles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Roles_RoleName] UNIQUE NONCLUSTERED 
(
	[RoleName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SalesOrderItems]    Script Date: 25/7/2569 19:55:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SalesOrderItems](
	[OrderItemId] [bigint] IDENTITY(1,1) NOT NULL,
	[OrderId] [int] NOT NULL,
	[VariantId] [int] NOT NULL,
	[Condition] [nvarchar](50) NOT NULL,
	[Quantity] [int] NOT NULL,
	[UnitPrice] [decimal](18, 2) NOT NULL,
	[Discount] [decimal](18, 2) NOT NULL,
	[LineTotal] [decimal](18, 2) NOT NULL,
	[UnitCostAtSale] [decimal](18, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderItemId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SalesOrders]    Script Date: 25/7/2569 19:55:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SalesOrders](
	[OrderId] [int] IDENTITY(1,1) NOT NULL,
	[OrderNo] [nvarchar](50) NOT NULL,
	[OrderDate] [datetime2](7) NOT NULL,
	[CustomerName] [nvarchar](255) NULL,
	[CustomerPhone] [nvarchar](50) NULL,
	[CustomerTaxId] [nvarchar](20) NULL,
	[CustomerAddress] [nvarchar](500) NULL,
	[SubTotal] [decimal](18, 2) NOT NULL,
	[DiscountTotal] [decimal](18, 2) NOT NULL,
	[VatRate] [decimal](5, 2) NOT NULL,
	[VatAmount] [decimal](18, 2) NOT NULL,
	[GrandTotal] [decimal](18, 2) NOT NULL,
	[OrderStatus] [nvarchar](20) NOT NULL,
	[TaxInvoiceId] [int] NULL,
	[PaymentMethod] [nvarchar](20) NULL,
	[PaymentRefNo] [nvarchar](100) NULL,
	[ReceiverAccountId] [int] NULL,
	[SlipAttachmentUrl] [nvarchar](500) NULL,
	[Notes] [nvarchar](500) NULL,
	[CreatedBy] [int] NULL,
	[UpdatedBy] [int] NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[OrderNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Stocks]    Script Date: 25/7/2569 19:55:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Stocks](
	[VariantId] [int] NOT NULL,
	[CurrentQuantity] [int] NOT NULL,
	[ReservedQuantity] [int] NOT NULL,
	[AvailableQuantity]  AS ([CurrentQuantity]-[ReservedQuantity]) PERSISTED,
	[ReorderPoint] [int] NOT NULL,
	[MaxStockLevel] [int] NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[RowVersion] [timestamp] NOT NULL,
	[Condition] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Stocks] PRIMARY KEY CLUSTERED 
(
	[VariantId] ASC,
	[Condition] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StockTransactions]    Script Date: 25/7/2569 19:55:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StockTransactions](
	[TransactionId] [bigint] IDENTITY(1,1) NOT NULL,
	[VariantId] [int] NOT NULL,
	[TransactionType] [nvarchar](20) NOT NULL,
	[Quantity] [int] NOT NULL,
	[UnitCost] [decimal](18, 2) NULL,
	[ReferenceDoc] [nvarchar](50) NULL,
	[Notes] [nvarchar](255) NULL,
	[CreatedAt] [datetime2](7) NULL,
	[CreatedBy] [int] NULL,
	[RequestId] [uniqueidentifier] NULL,
	[BranchId] [int] NULL,
	[QuantityBefore] [int] NULL,
	[QuantityAfter] [int] NULL,
	[Condition] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TransactionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Suppliers]    Script Date: 25/7/2569 19:55:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Suppliers](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SupplierCode] [varchar](50) NOT NULL,
	[SupplierName] [nvarchar](255) NOT NULL,
	[ContactName] [nvarchar](255) NULL,
	[Phone] [varchar](50) NULL,
	[Email] [varchar](255) NULL,
	[Address] [nvarchar](max) NULL,
	[TaxId] [varchar](50) NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[UpdatedAt] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[SupplierCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Suppliers_SupplierCode] UNIQUE NONCLUSTERED 
(
	[SupplierCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaxInvoices]    Script Date: 25/7/2569 19:55:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaxInvoices](
	[TaxInvoiceId] [int] IDENTITY(1,1) NOT NULL,
	[TaxInvoiceNo] [nvarchar](100) NOT NULL,
	[TaxInvoiceDate] [date] NOT NULL,
	[TaxType] [nvarchar](20) NOT NULL,
	[PartnerName] [nvarchar](255) NULL,
	[PartnerTaxId] [nvarchar](20) NULL,
	[PartnerAddress] [nvarchar](500) NULL,
	[BaseAmount] [decimal](18, 2) NOT NULL,
	[VatRate] [decimal](5, 2) NOT NULL,
	[VatAmount] [decimal](18, 2) NOT NULL,
	[TotalAmount] [decimal](18, 2) NOT NULL,
	[DocumentUrl] [nvarchar](500) NULL,
	[Notes] [nvarchar](500) NULL,
	[CreatedBy] [int] NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TaxInvoiceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserPermissions]    Script Date: 25/7/2569 19:55:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserPermissions](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[PermissionId] [int] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_UserPermissions] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_UserPermissions_UserId_PermissionId] UNIQUE NONCLUSTERED 
(
	[UserId] ASC,
	[PermissionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 25/7/2569 19:55:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Email] [nvarchar](256) NOT NULL,
	[PasswordHash] [nvarchar](500) NOT NULL,
	[FullName] [nvarchar](256) NOT NULL,
	[CreatedAt] [datetime2](7) NULL,
	[IsActive] [bit] NULL,
	[Username] [nvarchar](50) NOT NULL,
	[RoleId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VcbDeliveries]    Script Date: 25/7/2569 19:55:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VcbDeliveries](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DeliveryNo] [varchar](50) NOT NULL,
	[OrderDate] [datetime] NOT NULL,
	[ShippingAddress] [nvarchar](max) NOT NULL,
	[DomesticShippingCompany] [nvarchar](100) NOT NULL,
	[TotalAmountBeforeDiscount] [decimal](18, 2) NOT NULL,
	[DiscountAmount] [decimal](18, 2) NOT NULL,
	[TotalAmount] [decimal](18, 2) NOT NULL,
	[TransferredAmount] [decimal](18, 2) NOT NULL,
	[TransferSlipUrl] [nvarchar](500) NULL,
	[Status] [varchar](20) NOT NULL,
	[Notes] [nvarchar](max) NULL,
	[CreatedBy] [int] NULL,
	[CreatedAt] [datetime] NOT NULL,
	[UpdatedAt] [datetime] NOT NULL,
	[UpdatedBy] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[DeliveryNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VcbDeliveryItems]    Script Date: 25/7/2569 19:55:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VcbDeliveryItems](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DeliveryId] [int] NOT NULL,
	[PackageBoxNo] [varchar](50) NOT NULL,
	[DomesticTrackingNo] [varchar](100) NULL,
	[TotalWeight] [decimal](18, 2) NOT NULL,
	[BoxDimensions] [varchar](50) NULL,
	[ContainedBoxNumbers] [nvarchar](max) NULL,
	[ShippingCost] [decimal](18, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VcbDeliveryOrders]    Script Date: 25/7/2569 19:55:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VcbDeliveryOrders](
	[DeliveryId] [int] NOT NULL,
	[OrderId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[DeliveryId] ASC,
	[OrderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VcbOrderItems]    Script Date: 25/7/2569 19:55:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VcbOrderItems](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[OrderId] [int] NOT NULL,
	[VariantId] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[TotalPrice] [decimal](18, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VcbOrders]    Script Date: 25/7/2569 19:55:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VcbOrders](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[OrderNo] [varchar](50) NOT NULL,
	[OrderDate] [datetime] NOT NULL,
	[TotalAmount] [decimal](18, 2) NOT NULL,
	[Status] [varchar](20) NOT NULL,
	[BranchId] [int] NOT NULL,
	[Notes] [nvarchar](max) NULL,
	[CreatedBy] [int] NULL,
	[CreatedAt] [datetime] NOT NULL,
	[UpdatedAt] [datetime] NOT NULL,
	[TransferSlipUrl] [nvarchar](500) NULL,
	[UpdatedBy] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[OrderNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VcbShipmentItems]    Script Date: 25/7/2569 19:55:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VcbShipmentItems](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ShipmentId] [int] NOT NULL,
	[OrderItemId] [int] NOT NULL,
	[VariantId] [int] NOT NULL,
	[BoxNumbers] [nvarchar](max) NULL,
	[ReceiptStatus] [varchar](20) NOT NULL,
	[ExpectedQuantity] [int] NOT NULL,
	[GoodQuantity] [int] NOT NULL,
	[DefectiveQuantity] [int] NOT NULL,
	[RefundAmount] [decimal](18, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VcbShipments]    Script Date: 25/7/2569 19:55:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VcbShipments](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ReceiptNo] [varchar](50) NOT NULL,
	[ReceiptDate] [datetime] NOT NULL,
	[DeliveryId] [int] NOT NULL,
	[Status] [varchar](20) NOT NULL,
	[Notes] [nvarchar](max) NULL,
	[IsForceCloseOrder] [bit] NOT NULL,
	[CreatedBy] [int] NULL,
	[CreatedAt] [datetime] NOT NULL,
	[UpdatedAt] [datetime] NOT NULL,
	[UpdatedBy] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[ReceiptNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Index [IX_Categories_ParentId]    Script Date: 25/7/2569 19:55:30 ******/
CREATE NONCLUSTERED INDEX [IX_Categories_ParentId] ON [dbo].[Categories]
(
	[ParentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_LedgerEntries_AccountId]    Script Date: 25/7/2569 19:55:30 ******/
CREATE NONCLUSTERED INDEX [IX_LedgerEntries_AccountId] ON [dbo].[FinancialLedgerEntries]
(
	[AccountId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_LedgerEntries_TransactionId]    Script Date: 25/7/2569 19:55:30 ******/
CREATE NONCLUSTERED INDEX [IX_LedgerEntries_TransactionId] ON [dbo].[FinancialLedgerEntries]
(
	[TransactionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_FinancialTx_Date]    Script Date: 25/7/2569 19:55:30 ******/
CREATE NONCLUSTERED INDEX [IX_FinancialTx_Date] ON [dbo].[FinancialTransactions]
(
	[TransactionDate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_FinancialTx_RefType_Id]    Script Date: 25/7/2569 19:55:30 ******/
CREATE NONCLUSTERED INDEX [IX_FinancialTx_RefType_Id] ON [dbo].[FinancialTransactions]
(
	[ReferenceType] ASC,
	[ReferenceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_FinancialTx_Type]    Script Date: 25/7/2569 19:55:30 ******/
CREATE NONCLUSTERED INDEX [IX_FinancialTx_Type] ON [dbo].[FinancialTransactions]
(
	[TransactionType] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_GRItems_ReceiptId]    Script Date: 25/7/2569 19:55:30 ******/
CREATE NONCLUSTERED INDEX [IX_GRItems_ReceiptId] ON [dbo].[GoodsReceiptItems]
(
	[ReceiptId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_GRItems_VariantId]    Script Date: 25/7/2569 19:55:30 ******/
CREATE NONCLUSTERED INDEX [IX_GRItems_VariantId] ON [dbo].[GoodsReceiptItems]
(
	[VariantId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_GoodsReceipts_POId]    Script Date: 25/7/2569 19:55:30 ******/
CREATE NONCLUSTERED INDEX [IX_GoodsReceipts_POId] ON [dbo].[GoodsReceipts]
(
	[PurchaseOrderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_GoodsReceipts_Status]    Script Date: 25/7/2569 19:55:30 ******/
CREATE NONCLUSTERED INDEX [IX_GoodsReceipts_Status] ON [dbo].[GoodsReceipts]
(
	[Status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_PackingBatchItems_BatchId]    Script Date: 25/7/2569 19:55:30 ******/
CREATE NONCLUSTERED INDEX [IX_PackingBatchItems_BatchId] ON [dbo].[PackingBatchItems]
(
	[BatchId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_PackingBatchItems_Sku]    Script Date: 25/7/2569 19:55:30 ******/
CREATE NONCLUSTERED INDEX [IX_PackingBatchItems_Sku] ON [dbo].[PackingBatchItems]
(
	[Sku] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_PackingBatchItems_TrackingNo]    Script Date: 25/7/2569 19:55:30 ******/
CREATE NONCLUSTERED INDEX [IX_PackingBatchItems_TrackingNo] ON [dbo].[PackingBatchItems]
(
	[TrackingNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_PackingPendingResolutions_BatchItemId]    Script Date: 25/7/2569 19:55:30 ******/
CREATE NONCLUSTERED INDEX [IX_PackingPendingResolutions_BatchItemId] ON [dbo].[PackingPendingResolutions]
(
	[BatchItemId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ProductPrices_VariantId]    Script Date: 25/7/2569 19:55:30 ******/
CREATE NONCLUSTERED INDEX [IX_ProductPrices_VariantId] ON [dbo].[ProductPrices]
(
	[VariantId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Products_CategoryId]    Script Date: 25/7/2569 19:55:30 ******/
CREATE NONCLUSTERED INDEX [IX_Products_CategoryId] ON [dbo].[Products]
(
	[CategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Products_CreatedBy]    Script Date: 25/7/2569 19:55:30 ******/
CREATE NONCLUSTERED INDEX [IX_Products_CreatedBy] ON [dbo].[Products]
(
	[CreatedBy] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Products_ProductId_Desc]    Script Date: 25/7/2569 19:55:30 ******/
CREATE NONCLUSTERED INDEX [IX_Products_ProductId_Desc] ON [dbo].[Products]
(
	[ProductId] DESC
)
INCLUDE([ProductNameTh],[ProductNameEn],[BrandName],[CategoryId],[ProductType],[ProductStatus]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Products_Status]    Script Date: 25/7/2569 19:55:30 ******/
CREATE NONCLUSTERED INDEX [IX_Products_Status] ON [dbo].[Products]
(
	[ProductStatus] ASC
)
INCLUDE([ProductNameTh],[ProductNameEn]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Products_Status_Type_Group]    Script Date: 25/7/2569 19:55:30 ******/
CREATE NONCLUSTERED INDEX [IX_Products_Status_Type_Group] ON [dbo].[Products]
(
	[ProductStatus] ASC,
	[ProductType] ASC,
	[InventoryGroup] ASC
)
INCLUDE([ProductId],[ProductNameTh],[ProductNameEn],[BrandName],[CategoryId]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_ProductVariants_Barcode]    Script Date: 25/7/2569 19:55:30 ******/
CREATE NONCLUSTERED INDEX [IX_ProductVariants_Barcode] ON [dbo].[ProductVariants]
(
	[Barcode] ASC
)
WHERE ([Barcode] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ProductVariants_ProductId]    Script Date: 25/7/2569 19:55:30 ******/
CREATE NONCLUSTERED INDEX [IX_ProductVariants_ProductId] ON [dbo].[ProductVariants]
(
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UX_ProductVariants_Barcode]    Script Date: 25/7/2569 19:55:30 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_ProductVariants_Barcode] ON [dbo].[ProductVariants]
(
	[Barcode] ASC
)
WHERE ([Barcode] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_POItems_PurchaseOrderId]    Script Date: 25/7/2569 19:55:30 ******/
CREATE NONCLUSTERED INDEX [IX_POItems_PurchaseOrderId] ON [dbo].[PurchaseOrderItems]
(
	[PurchaseOrderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_POItems_VariantId]    Script Date: 25/7/2569 19:55:30 ******/
CREATE NONCLUSTERED INDEX [IX_POItems_VariantId] ON [dbo].[PurchaseOrderItems]
(
	[VariantId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_PurchaseOrders_PODate]    Script Date: 25/7/2569 19:55:30 ******/
CREATE NONCLUSTERED INDEX [IX_PurchaseOrders_PODate] ON [dbo].[PurchaseOrders]
(
	[PODate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_PurchaseOrders_Status]    Script Date: 25/7/2569 19:55:30 ******/
CREATE NONCLUSTERED INDEX [IX_PurchaseOrders_Status] ON [dbo].[PurchaseOrders]
(
	[Status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_SalesOrderItems_OrderId]    Script Date: 25/7/2569 19:55:30 ******/
CREATE NONCLUSTERED INDEX [IX_SalesOrderItems_OrderId] ON [dbo].[SalesOrderItems]
(
	[OrderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_SalesOrderItems_VariantId]    Script Date: 25/7/2569 19:55:30 ******/
CREATE NONCLUSTERED INDEX [IX_SalesOrderItems_VariantId] ON [dbo].[SalesOrderItems]
(
	[VariantId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_SalesOrders_OrderDate]    Script Date: 25/7/2569 19:55:30 ******/
CREATE NONCLUSTERED INDEX [IX_SalesOrders_OrderDate] ON [dbo].[SalesOrders]
(
	[OrderDate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_SalesOrders_OrderNo]    Script Date: 25/7/2569 19:55:30 ******/
CREATE NONCLUSTERED INDEX [IX_SalesOrders_OrderNo] ON [dbo].[SalesOrders]
(
	[OrderNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_SalesOrders_Status]    Script Date: 25/7/2569 19:55:30 ******/
CREATE NONCLUSTERED INDEX [IX_SalesOrders_Status] ON [dbo].[SalesOrders]
(
	[OrderStatus] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_StockTransactions_CreatedAt_Desc]    Script Date: 25/7/2569 19:55:30 ******/
CREATE NONCLUSTERED INDEX [IX_StockTransactions_CreatedAt_Desc] ON [dbo].[StockTransactions]
(
	[CreatedAt] DESC
)
INCLUDE([VariantId],[TransactionType],[Quantity],[BranchId]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_StockTransactions_RequestId]    Script Date: 25/7/2569 19:55:30 ******/
CREATE NONCLUSTERED INDEX [IX_StockTransactions_RequestId] ON [dbo].[StockTransactions]
(
	[RequestId] ASC
)
WHERE ([RequestId] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_StockTransactions_TransactionType]    Script Date: 25/7/2569 19:55:30 ******/
CREATE NONCLUSTERED INDEX [IX_StockTransactions_TransactionType] ON [dbo].[StockTransactions]
(
	[TransactionType] ASC,
	[CreatedAt] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_StockTransactions_Type_CreatedAt]    Script Date: 25/7/2569 19:55:30 ******/
CREATE NONCLUSTERED INDEX [IX_StockTransactions_Type_CreatedAt] ON [dbo].[StockTransactions]
(
	[TransactionType] ASC,
	[CreatedAt] DESC
)
INCLUDE([VariantId],[Quantity],[BranchId]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_StockTransactions_VariantId]    Script Date: 25/7/2569 19:55:30 ******/
CREATE NONCLUSTERED INDEX [IX_StockTransactions_VariantId] ON [dbo].[StockTransactions]
(
	[VariantId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_StockTransactions_VariantId_CreatedAt]    Script Date: 25/7/2569 19:55:30 ******/
CREATE NONCLUSTERED INDEX [IX_StockTransactions_VariantId_CreatedAt] ON [dbo].[StockTransactions]
(
	[VariantId] ASC,
	[CreatedAt] DESC
)
INCLUDE([TransactionType],[Quantity],[QuantityBefore],[QuantityAfter],[CreatedBy],[BranchId]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UX_StockTransactions_RequestId]    Script Date: 25/7/2569 19:55:30 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_StockTransactions_RequestId] ON [dbo].[StockTransactions]
(
	[RequestId] ASC
)
WHERE ([RequestId] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_TaxInvoices_TaxInvoiceNo]    Script Date: 25/7/2569 19:55:30 ******/
CREATE NONCLUSTERED INDEX [IX_TaxInvoices_TaxInvoiceNo] ON [dbo].[TaxInvoices]
(
	[TaxInvoiceNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_TaxInvoices_TaxType_Date]    Script Date: 25/7/2569 19:55:30 ******/
CREATE NONCLUSTERED INDEX [IX_TaxInvoices_TaxType_Date] ON [dbo].[TaxInvoices]
(
	[TaxType] ASC,
	[TaxInvoiceDate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Users_Email]    Script Date: 25/7/2569 19:55:30 ******/
CREATE NONCLUSTERED INDEX [IX_Users_Email] ON [dbo].[Users]
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UX_Users_Username]    Script Date: 25/7/2569 19:55:30 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_Users_Username] ON [dbo].[Users]
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_VcbDeliveryItems_DeliveryId]    Script Date: 25/7/2569 19:55:30 ******/
CREATE NONCLUSTERED INDEX [IX_VcbDeliveryItems_DeliveryId] ON [dbo].[VcbDeliveryItems]
(
	[DeliveryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_VcbDeliveryOrders_DeliveryId]    Script Date: 25/7/2569 19:55:30 ******/
CREATE NONCLUSTERED INDEX [IX_VcbDeliveryOrders_DeliveryId] ON [dbo].[VcbDeliveryOrders]
(
	[DeliveryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_VcbDeliveryOrders_OrderId]    Script Date: 25/7/2569 19:55:30 ******/
CREATE NONCLUSTERED INDEX [IX_VcbDeliveryOrders_OrderId] ON [dbo].[VcbDeliveryOrders]
(
	[OrderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_VcbOrderItems_OrderId]    Script Date: 25/7/2569 19:55:30 ******/
CREATE NONCLUSTERED INDEX [IX_VcbOrderItems_OrderId] ON [dbo].[VcbOrderItems]
(
	[OrderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_VcbOrderItems_VariantId]    Script Date: 25/7/2569 19:55:30 ******/
CREATE NONCLUSTERED INDEX [IX_VcbOrderItems_VariantId] ON [dbo].[VcbOrderItems]
(
	[VariantId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_VcbOrders_Status_BranchId_OrderDate]    Script Date: 25/7/2569 19:55:30 ******/
CREATE NONCLUSTERED INDEX [IX_VcbOrders_Status_BranchId_OrderDate] ON [dbo].[VcbOrders]
(
	[Status] ASC,
	[BranchId] ASC,
	[OrderDate] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_VcbShipmentItems_OrderItemId]    Script Date: 25/7/2569 19:55:30 ******/
CREATE NONCLUSTERED INDEX [IX_VcbShipmentItems_OrderItemId] ON [dbo].[VcbShipmentItems]
(
	[OrderItemId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_VcbShipmentItems_ShipmentId]    Script Date: 25/7/2569 19:55:30 ******/
CREATE NONCLUSTERED INDEX [IX_VcbShipmentItems_ShipmentId] ON [dbo].[VcbShipmentItems]
(
	[ShipmentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_VcbShipments_DeliveryId]    Script Date: 25/7/2569 19:55:30 ******/
CREATE NONCLUSTERED INDEX [IX_VcbShipments_DeliveryId] ON [dbo].[VcbShipments]
(
	[DeliveryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AccountTransactions] ADD  CONSTRAINT [DF_AccountTransactions_TransactionDate]  DEFAULT (sysdatetime()) FOR [TransactionDate]
GO
ALTER TABLE [dbo].[AccountTransactions] ADD  CONSTRAINT [DF_AccountTransactions_CreatedAt]  DEFAULT (sysdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Branches] ADD  CONSTRAINT [DF_Branches_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Branches] ADD  CONSTRAINT [DF_Branches_CreatedAt]  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Branches] ADD  CONSTRAINT [DF_Branches_IsVatRegistered]  DEFAULT ((0)) FOR [IsVatRegistered]
GO
ALTER TABLE [dbo].[Branches] ADD  CONSTRAINT [DF_Branches_EntityType]  DEFAULT ('Individual') FOR [EntityType]
GO
ALTER TABLE [dbo].[Categories] ADD  DEFAULT ((0)) FOR [SortOrder]
GO
ALTER TABLE [dbo].[Categories] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[ChartOfAccounts] ADD  DEFAULT ((0)) FOR [IsSystemAccount]
GO
ALTER TABLE [dbo].[ChartOfAccounts] ADD  DEFAULT ((0)) FOR [SortOrder]
GO
ALTER TABLE [dbo].[ChartOfAccounts] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[ChartOfAccounts] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[CompanyBankAccounts] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[CompanyBankAccounts] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[CompanyBankAccounts] ADD  DEFAULT ('Business') FOR [AccountType]
GO
ALTER TABLE [dbo].[FinancialLedgerEntries] ADD  DEFAULT ((0)) FOR [DebitAmount]
GO
ALTER TABLE [dbo].[FinancialLedgerEntries] ADD  DEFAULT ((0)) FOR [CreditAmount]
GO
ALTER TABLE [dbo].[FinancialTransactions] ADD  DEFAULT ((0)) FOR [TotalAmount]
GO
ALTER TABLE [dbo].[FinancialTransactions] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[FinancialTransactions] ADD  DEFAULT (getdate()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[GoodsReceiptItems] ADD  DEFAULT ((0)) FOR [ExpectedQuantity]
GO
ALTER TABLE [dbo].[GoodsReceiptItems] ADD  DEFAULT ((0)) FOR [ReceivedQuantity]
GO
ALTER TABLE [dbo].[GoodsReceiptItems] ADD  DEFAULT ((0)) FOR [DefectiveQuantity]
GO
ALTER TABLE [dbo].[GoodsReceiptItems] ADD  DEFAULT ((0)) FOR [DamagedQuantity]
GO
ALTER TABLE [dbo].[GoodsReceipts] ADD  DEFAULT (getdate()) FOR [ReceiptDate]
GO
ALTER TABLE [dbo].[GoodsReceipts] ADD  DEFAULT ((0)) FOR [ShippingCost]
GO
ALTER TABLE [dbo].[GoodsReceipts] ADD  DEFAULT ('PENDING') FOR [Status]
GO
ALTER TABLE [dbo].[GoodsReceipts] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[GoodsReceipts] ADD  DEFAULT (getdate()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[Investment] ADD  DEFAULT ('THB') FOR [Currency]
GO
ALTER TABLE [dbo].[Investment] ADD  DEFAULT ((0)) FOR [Status]
GO
ALTER TABLE [dbo].[Investment] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Investment] ADD  DEFAULT (getdate()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[Investment] ADD  DEFAULT ((0)) FOR [IsCash]
GO
ALTER TABLE [dbo].[InvestmentInterestSchedule] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[InvestmentSchedule] ADD  DEFAULT ((0)) FOR [PaidAmount]
GO
ALTER TABLE [dbo].[InvestmentSchedule] ADD  DEFAULT ((0)) FOR [Status]
GO
ALTER TABLE [dbo].[InvestmentSchedule] ADD  DEFAULT ((0)) FOR [IsCash]
GO
ALTER TABLE [dbo].[InvestmentSchedule] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Investor] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[InvestorBankAccount] ADD  DEFAULT ((0)) FOR [IsDefault]
GO
ALTER TABLE [dbo].[InvestorBankAccount] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[PackingBatches] ADD  DEFAULT (sysutcdatetime()) FOR [ImportedAt]
GO
ALTER TABLE [dbo].[PackingBatches] ADD  DEFAULT ((0)) FOR [TotalFiles]
GO
ALTER TABLE [dbo].[PackingBatches] ADD  DEFAULT ((0)) FOR [TotalOrders]
GO
ALTER TABLE [dbo].[PackingBatches] ADD  DEFAULT ((0)) FOR [TotalParcels]
GO
ALTER TABLE [dbo].[PackingBatches] ADD  DEFAULT ((0)) FOR [TotalItems]
GO
ALTER TABLE [dbo].[PackingBatches] ADD  DEFAULT ('DRAFT') FOR [Status]
GO
ALTER TABLE [dbo].[PackingBatchItems] ADD  DEFAULT ((1)) FOR [OrderedQuantity]
GO
ALTER TABLE [dbo].[PackingBatchItems] ADD  DEFAULT ((0)) FOR [ShippedQuantity]
GO
ALTER TABLE [dbo].[PackingBatchItems] ADD  DEFAULT ((0)) FOR [IsMultiParcel]
GO
ALTER TABLE [dbo].[PackingBatchItems] ADD  DEFAULT ((1)) FOR [ParcelSeq]
GO
ALTER TABLE [dbo].[PackingBatchItems] ADD  DEFAULT ((1)) FOR [TotalParcelsInOrder]
GO
ALTER TABLE [dbo].[PackingBatchItems] ADD  DEFAULT ('DRAFT') FOR [PackStatus]
GO
ALTER TABLE [dbo].[PackingBatchItems] ADD  DEFAULT ((1)) FOR [IsSkuMatched]
GO
ALTER TABLE [dbo].[PackingPendingResolutions] ADD  DEFAULT (sysutcdatetime()) FOR [ResolvedAt]
GO
ALTER TABLE [dbo].[PartnerBankAccounts] ADD  DEFAULT ((0)) FOR [IsDefault]
GO
ALTER TABLE [dbo].[PartnerBankAccounts] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[PartnerBankAccounts] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Permissions] ADD  CONSTRAINT [DF_Permissions_CreatedAt]  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[ProductPrices] ADD  DEFAULT ('THB') FOR [CurrencyCode]
GO
ALTER TABLE [dbo].[ProductPrices] ADD  DEFAULT ((0.00)) FOR [BasePrice]
GO
ALTER TABLE [dbo].[ProductPrices] ADD  DEFAULT ((0.00)) FOR [DiscountPrice]
GO
ALTER TABLE [dbo].[ProductPrices] ADD  DEFAULT ((0.00)) FOR [AvgCost90Days]
GO
ALTER TABLE [dbo].[ProductPrices] ADD  DEFAULT ((0.00)) FOR [MinCost90Days]
GO
ALTER TABLE [dbo].[ProductPrices] ADD  DEFAULT ((0.00)) FOR [MaxCost90Days]
GO
ALTER TABLE [dbo].[ProductPrices] ADD  DEFAULT (getdate()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[Products] ADD  DEFAULT ('Product') FOR [ProductType]
GO
ALTER TABLE [dbo].[Products] ADD  DEFAULT ((1)) FOR [IsStockTracked]
GO
ALTER TABLE [dbo].[Products] ADD  DEFAULT ('Available') FOR [ProductStatus]
GO
ALTER TABLE [dbo].[Products] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Products] ADD  DEFAULT (getdate()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[Products] ADD  CONSTRAINT [DF_Products_InventoryGroup]  DEFAULT ('ForSale') FOR [InventoryGroup]
GO
ALTER TABLE [dbo].[ProductVariants] ADD  DEFAULT ('Active') FOR [VariantStatus]
GO
ALTER TABLE [dbo].[ProductVariants] ADD  DEFAULT ('') FOR [SizeLabel]
GO
ALTER TABLE [dbo].[ProductVariants] ADD  DEFAULT ('') FOR [Color]
GO
ALTER TABLE [dbo].[ProductVariants] ADD  DEFAULT ('') FOR [StylePattern]
GO
ALTER TABLE [dbo].[ProductVariants] ADD  DEFAULT (N'อัน') FOR [UnitOfMeasure]
GO
ALTER TABLE [dbo].[ProductVariants] ADD  DEFAULT ((0.01)) FOR [Width]
GO
ALTER TABLE [dbo].[ProductVariants] ADD  DEFAULT ((0.01)) FOR [Length]
GO
ALTER TABLE [dbo].[ProductVariants] ADD  DEFAULT ((0.01)) FOR [Height]
GO
ALTER TABLE [dbo].[ProductVariants] ADD  DEFAULT ('cm') FOR [DimensionUnit]
GO
ALTER TABLE [dbo].[ProductVariants] ADD  DEFAULT ((0.01)) FOR [Weight]
GO
ALTER TABLE [dbo].[ProductVariants] ADD  DEFAULT ('kg') FOR [WeightUnit]
GO
ALTER TABLE [dbo].[ProductVariants] ADD  DEFAULT ((1)) FOR [MinOrderQty]
GO
ALTER TABLE [dbo].[PurchaseOrderItems] ADD  DEFAULT ((0)) FOR [UnitPrice]
GO
ALTER TABLE [dbo].[PurchaseOrderItems] ADD  DEFAULT ((0)) FOR [LineTotal]
GO
ALTER TABLE [dbo].[PurchaseOrderItems] ADD  DEFAULT ((0)) FOR [ReceivedQuantity]
GO
ALTER TABLE [dbo].[PurchaseOrders] ADD  DEFAULT ((0)) FOR [SubTotal]
GO
ALTER TABLE [dbo].[PurchaseOrders] ADD  DEFAULT ((0)) FOR [DiscountTotal]
GO
ALTER TABLE [dbo].[PurchaseOrders] ADD  DEFAULT ((0)) FOR [ShippingCost]
GO
ALTER TABLE [dbo].[PurchaseOrders] ADD  DEFAULT ((0)) FOR [VatRate]
GO
ALTER TABLE [dbo].[PurchaseOrders] ADD  DEFAULT ((0)) FOR [VatAmount]
GO
ALTER TABLE [dbo].[PurchaseOrders] ADD  DEFAULT ((0)) FOR [GrandTotal]
GO
ALTER TABLE [dbo].[PurchaseOrders] ADD  DEFAULT ('DRAFT') FOR [Status]
GO
ALTER TABLE [dbo].[PurchaseOrders] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[PurchaseOrders] ADD  DEFAULT (getdate()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[Roles] ADD  CONSTRAINT [DF_Roles_CreatedAt]  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[SalesOrderItems] ADD  DEFAULT ('Normal') FOR [Condition]
GO
ALTER TABLE [dbo].[SalesOrderItems] ADD  DEFAULT ((0)) FOR [UnitPrice]
GO
ALTER TABLE [dbo].[SalesOrderItems] ADD  DEFAULT ((0)) FOR [Discount]
GO
ALTER TABLE [dbo].[SalesOrderItems] ADD  DEFAULT ((0)) FOR [LineTotal]
GO
ALTER TABLE [dbo].[SalesOrderItems] ADD  DEFAULT ((0)) FOR [UnitCostAtSale]
GO
ALTER TABLE [dbo].[SalesOrders] ADD  DEFAULT (getdate()) FOR [OrderDate]
GO
ALTER TABLE [dbo].[SalesOrders] ADD  DEFAULT ((0)) FOR [SubTotal]
GO
ALTER TABLE [dbo].[SalesOrders] ADD  DEFAULT ((0)) FOR [DiscountTotal]
GO
ALTER TABLE [dbo].[SalesOrders] ADD  DEFAULT ((0)) FOR [VatRate]
GO
ALTER TABLE [dbo].[SalesOrders] ADD  DEFAULT ((0)) FOR [VatAmount]
GO
ALTER TABLE [dbo].[SalesOrders] ADD  DEFAULT ((0)) FOR [GrandTotal]
GO
ALTER TABLE [dbo].[SalesOrders] ADD  DEFAULT ('DRAFT') FOR [OrderStatus]
GO
ALTER TABLE [dbo].[SalesOrders] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[SalesOrders] ADD  DEFAULT (getdate()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[Stocks] ADD  DEFAULT ((0)) FOR [CurrentQuantity]
GO
ALTER TABLE [dbo].[Stocks] ADD  DEFAULT ((0)) FOR [ReservedQuantity]
GO
ALTER TABLE [dbo].[Stocks] ADD  DEFAULT ((0)) FOR [ReorderPoint]
GO
ALTER TABLE [dbo].[Stocks] ADD  DEFAULT (getdate()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[Stocks] ADD  CONSTRAINT [DF_Stocks_Condition]  DEFAULT ('Normal') FOR [Condition]
GO
ALTER TABLE [dbo].[StockTransactions] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[StockTransactions] ADD  CONSTRAINT [DF_StockTransactions_Condition]  DEFAULT ('Normal') FOR [Condition]
GO
ALTER TABLE [dbo].[Suppliers] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Suppliers] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Suppliers] ADD  DEFAULT (getdate()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[TaxInvoices] ADD  DEFAULT ((0)) FOR [BaseAmount]
GO
ALTER TABLE [dbo].[TaxInvoices] ADD  DEFAULT ((7)) FOR [VatRate]
GO
ALTER TABLE [dbo].[TaxInvoices] ADD  DEFAULT ((0)) FOR [VatAmount]
GO
ALTER TABLE [dbo].[TaxInvoices] ADD  DEFAULT ((0)) FOR [TotalAmount]
GO
ALTER TABLE [dbo].[TaxInvoices] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[UserPermissions] ADD  CONSTRAINT [DF_UserPermissions_CreatedAt]  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((12)) FOR [RoleId]
GO
ALTER TABLE [dbo].[VcbDeliveries] ADD  DEFAULT ((0)) FOR [TotalAmountBeforeDiscount]
GO
ALTER TABLE [dbo].[VcbDeliveries] ADD  DEFAULT ((0)) FOR [DiscountAmount]
GO
ALTER TABLE [dbo].[VcbDeliveries] ADD  DEFAULT ((0)) FOR [TotalAmount]
GO
ALTER TABLE [dbo].[VcbDeliveries] ADD  DEFAULT ((0)) FOR [TransferredAmount]
GO
ALTER TABLE [dbo].[VcbDeliveries] ADD  DEFAULT ('Shipping') FOR [Status]
GO
ALTER TABLE [dbo].[VcbDeliveries] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[VcbDeliveries] ADD  DEFAULT (getdate()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[VcbDeliveryItems] ADD  DEFAULT ((0)) FOR [TotalWeight]
GO
ALTER TABLE [dbo].[VcbDeliveryItems] ADD  DEFAULT ((0)) FOR [ShippingCost]
GO
ALTER TABLE [dbo].[VcbOrderItems] ADD  DEFAULT ((0)) FOR [TotalPrice]
GO
ALTER TABLE [dbo].[VcbOrders] ADD  DEFAULT ((0)) FOR [TotalAmount]
GO
ALTER TABLE [dbo].[VcbOrders] ADD  DEFAULT ('Pending') FOR [Status]
GO
ALTER TABLE [dbo].[VcbOrders] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[VcbOrders] ADD  DEFAULT (getdate()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[VcbShipmentItems] ADD  DEFAULT ((0)) FOR [GoodQuantity]
GO
ALTER TABLE [dbo].[VcbShipmentItems] ADD  DEFAULT ((0)) FOR [DefectiveQuantity]
GO
ALTER TABLE [dbo].[VcbShipmentItems] ADD  DEFAULT ((0)) FOR [RefundAmount]
GO
ALTER TABLE [dbo].[VcbShipments] ADD  DEFAULT (getdate()) FOR [ReceiptDate]
GO
ALTER TABLE [dbo].[VcbShipments] ADD  DEFAULT ('Draft') FOR [Status]
GO
ALTER TABLE [dbo].[VcbShipments] ADD  DEFAULT ((0)) FOR [IsForceCloseOrder]
GO
ALTER TABLE [dbo].[VcbShipments] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[VcbShipments] ADD  DEFAULT (getdate()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[AccountTransactions]  WITH CHECK ADD  CONSTRAINT [FK_AccountTransactions_CreatedBy] FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[AccountTransactions] CHECK CONSTRAINT [FK_AccountTransactions_CreatedBy]
GO
ALTER TABLE [dbo].[Categories]  WITH CHECK ADD  CONSTRAINT [FK_Categories_Parent] FOREIGN KEY([ParentId])
REFERENCES [dbo].[Categories] ([CategoryId])
GO
ALTER TABLE [dbo].[Categories] CHECK CONSTRAINT [FK_Categories_Parent]
GO
ALTER TABLE [dbo].[CompanyBankAccounts]  WITH CHECK ADD  CONSTRAINT [FK_CompanyBankAccounts_ChartOfAccounts] FOREIGN KEY([ChartOfAccountId])
REFERENCES [dbo].[ChartOfAccounts] ([AccountId])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[CompanyBankAccounts] CHECK CONSTRAINT [FK_CompanyBankAccounts_ChartOfAccounts]
GO
ALTER TABLE [dbo].[FinancialLedgerEntries]  WITH CHECK ADD FOREIGN KEY([AccountId])
REFERENCES [dbo].[ChartOfAccounts] ([AccountId])
GO
ALTER TABLE [dbo].[FinancialLedgerEntries]  WITH CHECK ADD FOREIGN KEY([TransactionId])
REFERENCES [dbo].[FinancialTransactions] ([TransactionId])
GO
ALTER TABLE [dbo].[FinancialTransactions]  WITH CHECK ADD FOREIGN KEY([ReceiverAccountId])
REFERENCES [dbo].[ChartOfAccounts] ([AccountId])
GO
ALTER TABLE [dbo].[FinancialTransactions]  WITH CHECK ADD FOREIGN KEY([TaxInvoiceId])
REFERENCES [dbo].[TaxInvoices] ([TaxInvoiceId])
GO
ALTER TABLE [dbo].[GoodsReceiptItems]  WITH CHECK ADD FOREIGN KEY([POItemId])
REFERENCES [dbo].[PurchaseOrderItems] ([POItemId])
GO
ALTER TABLE [dbo].[GoodsReceiptItems]  WITH CHECK ADD FOREIGN KEY([ReceiptId])
REFERENCES [dbo].[GoodsReceipts] ([ReceiptId])
GO
ALTER TABLE [dbo].[GoodsReceiptItems]  WITH CHECK ADD FOREIGN KEY([VariantId])
REFERENCES [dbo].[ProductVariants] ([VariantId])
GO
ALTER TABLE [dbo].[GoodsReceipts]  WITH CHECK ADD FOREIGN KEY([PurchaseOrderId])
REFERENCES [dbo].[PurchaseOrders] ([PurchaseOrderId])
GO
ALTER TABLE [dbo].[Investment]  WITH CHECK ADD FOREIGN KEY([CompanyBankAccountId])
REFERENCES [dbo].[CompanyBankAccounts] ([Id])
GO
ALTER TABLE [dbo].[Investment]  WITH CHECK ADD  CONSTRAINT [FK_Investment_Investor] FOREIGN KEY([InvestorId])
REFERENCES [dbo].[Investor] ([InvestorId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Investment] CHECK CONSTRAINT [FK_Investment_Investor]
GO
ALTER TABLE [dbo].[Investment]  WITH CHECK ADD  CONSTRAINT [FK_Investment_InvestorBankAccount] FOREIGN KEY([InvestorBankAccountId])
REFERENCES [dbo].[InvestorBankAccount] ([BankAccountId])
GO
ALTER TABLE [dbo].[Investment] CHECK CONSTRAINT [FK_Investment_InvestorBankAccount]
GO
ALTER TABLE [dbo].[InvestmentInterestSchedule]  WITH CHECK ADD  CONSTRAINT [FK_InvestmentInterestSchedule_Investment] FOREIGN KEY([InvestmentId])
REFERENCES [dbo].[Investment] ([InvestmentId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[InvestmentInterestSchedule] CHECK CONSTRAINT [FK_InvestmentInterestSchedule_Investment]
GO
ALTER TABLE [dbo].[InvestmentSchedule]  WITH CHECK ADD  CONSTRAINT [FK_InvestmentSchedule_CompanyBankAccount] FOREIGN KEY([CompanyBankAccountId])
REFERENCES [dbo].[CompanyBankAccounts] ([Id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[InvestmentSchedule] CHECK CONSTRAINT [FK_InvestmentSchedule_CompanyBankAccount]
GO
ALTER TABLE [dbo].[InvestmentSchedule]  WITH CHECK ADD  CONSTRAINT [FK_InvestmentSchedule_Investment] FOREIGN KEY([InvestmentId])
REFERENCES [dbo].[Investment] ([InvestmentId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[InvestmentSchedule] CHECK CONSTRAINT [FK_InvestmentSchedule_Investment]
GO
ALTER TABLE [dbo].[InvestmentSchedule]  WITH CHECK ADD  CONSTRAINT [FK_InvestmentSchedule_Transaction] FOREIGN KEY([TransactionId])
REFERENCES [dbo].[FinancialTransactions] ([TransactionId])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[InvestmentSchedule] CHECK CONSTRAINT [FK_InvestmentSchedule_Transaction]
GO
ALTER TABLE [dbo].[InvestorBankAccount]  WITH CHECK ADD  CONSTRAINT [FK_InvestorBankAccount_Investor] FOREIGN KEY([InvestorId])
REFERENCES [dbo].[Investor] ([InvestorId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[InvestorBankAccount] CHECK CONSTRAINT [FK_InvestorBankAccount_Investor]
GO
ALTER TABLE [dbo].[PackingBatchItems]  WITH CHECK ADD  CONSTRAINT [FK_PackingBatchItems_PackingBatches] FOREIGN KEY([BatchId])
REFERENCES [dbo].[PackingBatches] ([BatchId])
GO
ALTER TABLE [dbo].[PackingBatchItems] CHECK CONSTRAINT [FK_PackingBatchItems_PackingBatches]
GO
ALTER TABLE [dbo].[PackingBatchItems]  WITH CHECK ADD  CONSTRAINT [FK_PackingBatchItems_ProductVariants] FOREIGN KEY([VariantId])
REFERENCES [dbo].[ProductVariants] ([VariantId])
GO
ALTER TABLE [dbo].[PackingBatchItems] CHECK CONSTRAINT [FK_PackingBatchItems_ProductVariants]
GO
ALTER TABLE [dbo].[PackingPendingResolutions]  WITH CHECK ADD  CONSTRAINT [FK_PackingPendingResolutions_ActualVariant] FOREIGN KEY([ActualShippedVariantId])
REFERENCES [dbo].[ProductVariants] ([VariantId])
GO
ALTER TABLE [dbo].[PackingPendingResolutions] CHECK CONSTRAINT [FK_PackingPendingResolutions_ActualVariant]
GO
ALTER TABLE [dbo].[PackingPendingResolutions]  WITH CHECK ADD  CONSTRAINT [FK_PackingPendingResolutions_BatchItemId] FOREIGN KEY([BatchItemId])
REFERENCES [dbo].[PackingBatchItems] ([Id])
GO
ALTER TABLE [dbo].[PackingPendingResolutions] CHECK CONSTRAINT [FK_PackingPendingResolutions_BatchItemId]
GO
ALTER TABLE [dbo].[PackingPendingResolutions]  WITH CHECK ADD  CONSTRAINT [FK_PackingPendingResolutions_OriginalVariant] FOREIGN KEY([OriginalVariantId])
REFERENCES [dbo].[ProductVariants] ([VariantId])
GO
ALTER TABLE [dbo].[PackingPendingResolutions] CHECK CONSTRAINT [FK_PackingPendingResolutions_OriginalVariant]
GO
ALTER TABLE [dbo].[PartnerBankAccounts]  WITH CHECK ADD  CONSTRAINT [FK_PartnerBankAccounts_Suppliers] FOREIGN KEY([SupplierId])
REFERENCES [dbo].[Suppliers] ([Id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[PartnerBankAccounts] CHECK CONSTRAINT [FK_PartnerBankAccounts_Suppliers]
GO
ALTER TABLE [dbo].[ProductPrices]  WITH CHECK ADD  CONSTRAINT [FK_ProductPrices_Variants] FOREIGN KEY([VariantId])
REFERENCES [dbo].[ProductVariants] ([VariantId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProductPrices] CHECK CONSTRAINT [FK_ProductPrices_Variants]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_Products_Categories] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Categories] ([CategoryId])
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_Products_Categories]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_Products_Users] FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[Users] ([Id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_Products_Users]
GO
ALTER TABLE [dbo].[ProductVariants]  WITH CHECK ADD  CONSTRAINT [FK_ProductVariants_Products] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([ProductId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProductVariants] CHECK CONSTRAINT [FK_ProductVariants_Products]
GO
ALTER TABLE [dbo].[PurchaseOrderItems]  WITH CHECK ADD FOREIGN KEY([PurchaseOrderId])
REFERENCES [dbo].[PurchaseOrders] ([PurchaseOrderId])
GO
ALTER TABLE [dbo].[PurchaseOrderItems]  WITH CHECK ADD FOREIGN KEY([VariantId])
REFERENCES [dbo].[ProductVariants] ([VariantId])
GO
ALTER TABLE [dbo].[PurchaseOrders]  WITH CHECK ADD FOREIGN KEY([ReceiverAccountId])
REFERENCES [dbo].[ChartOfAccounts] ([AccountId])
GO
ALTER TABLE [dbo].[PurchaseOrders]  WITH CHECK ADD FOREIGN KEY([TaxInvoiceId])
REFERENCES [dbo].[TaxInvoices] ([TaxInvoiceId])
GO
ALTER TABLE [dbo].[RolePermissions]  WITH CHECK ADD  CONSTRAINT [FK_RolePermissions_Permissions] FOREIGN KEY([PermissionId])
REFERENCES [dbo].[Permissions] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[RolePermissions] CHECK CONSTRAINT [FK_RolePermissions_Permissions]
GO
ALTER TABLE [dbo].[RolePermissions]  WITH CHECK ADD  CONSTRAINT [FK_RolePermissions_Roles] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Roles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[RolePermissions] CHECK CONSTRAINT [FK_RolePermissions_Roles]
GO
ALTER TABLE [dbo].[SalesOrderItems]  WITH CHECK ADD FOREIGN KEY([OrderId])
REFERENCES [dbo].[SalesOrders] ([OrderId])
GO
ALTER TABLE [dbo].[SalesOrderItems]  WITH CHECK ADD FOREIGN KEY([VariantId])
REFERENCES [dbo].[ProductVariants] ([VariantId])
GO
ALTER TABLE [dbo].[SalesOrders]  WITH CHECK ADD FOREIGN KEY([ReceiverAccountId])
REFERENCES [dbo].[ChartOfAccounts] ([AccountId])
GO
ALTER TABLE [dbo].[SalesOrders]  WITH CHECK ADD FOREIGN KEY([TaxInvoiceId])
REFERENCES [dbo].[TaxInvoices] ([TaxInvoiceId])
GO
ALTER TABLE [dbo].[Stocks]  WITH CHECK ADD  CONSTRAINT [FK_Stocks_Variants] FOREIGN KEY([VariantId])
REFERENCES [dbo].[ProductVariants] ([VariantId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Stocks] CHECK CONSTRAINT [FK_Stocks_Variants]
GO
ALTER TABLE [dbo].[StockTransactions]  WITH CHECK ADD  CONSTRAINT [FK_StockTransactions_Branches] FOREIGN KEY([BranchId])
REFERENCES [dbo].[Branches] ([Id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[StockTransactions] CHECK CONSTRAINT [FK_StockTransactions_Branches]
GO
ALTER TABLE [dbo].[StockTransactions]  WITH CHECK ADD  CONSTRAINT [FK_StockTransactions_Users] FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[Users] ([Id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[StockTransactions] CHECK CONSTRAINT [FK_StockTransactions_Users]
GO
ALTER TABLE [dbo].[StockTransactions]  WITH CHECK ADD  CONSTRAINT [FK_StockTransactions_Variants] FOREIGN KEY([VariantId])
REFERENCES [dbo].[ProductVariants] ([VariantId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[StockTransactions] CHECK CONSTRAINT [FK_StockTransactions_Variants]
GO
ALTER TABLE [dbo].[UserPermissions]  WITH CHECK ADD  CONSTRAINT [FK_UserPermissions_Permissions] FOREIGN KEY([PermissionId])
REFERENCES [dbo].[Permissions] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserPermissions] CHECK CONSTRAINT [FK_UserPermissions_Permissions]
GO
ALTER TABLE [dbo].[UserPermissions]  WITH CHECK ADD  CONSTRAINT [FK_UserPermissions_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserPermissions] CHECK CONSTRAINT [FK_UserPermissions_Users]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Roles] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Roles] ([Id])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Roles]
GO
ALTER TABLE [dbo].[VcbDeliveries]  WITH CHECK ADD  CONSTRAINT [FK_VcbDeliveries_CreatedBy] FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[VcbDeliveries] CHECK CONSTRAINT [FK_VcbDeliveries_CreatedBy]
GO
ALTER TABLE [dbo].[VcbDeliveries]  WITH CHECK ADD  CONSTRAINT [FK_VcbDeliveries_UpdatedBy] FOREIGN KEY([UpdatedBy])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[VcbDeliveries] CHECK CONSTRAINT [FK_VcbDeliveries_UpdatedBy]
GO
ALTER TABLE [dbo].[VcbDeliveryItems]  WITH CHECK ADD  CONSTRAINT [FK_VcbDeliveryItems_Delivery] FOREIGN KEY([DeliveryId])
REFERENCES [dbo].[VcbDeliveries] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[VcbDeliveryItems] CHECK CONSTRAINT [FK_VcbDeliveryItems_Delivery]
GO
ALTER TABLE [dbo].[VcbDeliveryOrders]  WITH CHECK ADD  CONSTRAINT [FK_VcbDeliveryOrders_Delivery] FOREIGN KEY([DeliveryId])
REFERENCES [dbo].[VcbDeliveries] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[VcbDeliveryOrders] CHECK CONSTRAINT [FK_VcbDeliveryOrders_Delivery]
GO
ALTER TABLE [dbo].[VcbDeliveryOrders]  WITH CHECK ADD  CONSTRAINT [FK_VcbDeliveryOrders_Order] FOREIGN KEY([OrderId])
REFERENCES [dbo].[VcbOrders] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[VcbDeliveryOrders] CHECK CONSTRAINT [FK_VcbDeliveryOrders_Order]
GO
ALTER TABLE [dbo].[VcbOrderItems]  WITH CHECK ADD  CONSTRAINT [FK_VcbOrderItem_Order] FOREIGN KEY([OrderId])
REFERENCES [dbo].[VcbOrders] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[VcbOrderItems] CHECK CONSTRAINT [FK_VcbOrderItem_Order]
GO
ALTER TABLE [dbo].[VcbOrderItems]  WITH CHECK ADD  CONSTRAINT [FK_VcbOrderItem_Variant] FOREIGN KEY([VariantId])
REFERENCES [dbo].[ProductVariants] ([VariantId])
GO
ALTER TABLE [dbo].[VcbOrderItems] CHECK CONSTRAINT [FK_VcbOrderItem_Variant]
GO
ALTER TABLE [dbo].[VcbOrders]  WITH CHECK ADD  CONSTRAINT [FK_VcbOrders_Branch] FOREIGN KEY([BranchId])
REFERENCES [dbo].[Branches] ([Id])
GO
ALTER TABLE [dbo].[VcbOrders] CHECK CONSTRAINT [FK_VcbOrders_Branch]
GO
ALTER TABLE [dbo].[VcbOrders]  WITH CHECK ADD  CONSTRAINT [FK_VcbOrders_CreatedBy] FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[VcbOrders] CHECK CONSTRAINT [FK_VcbOrders_CreatedBy]
GO
ALTER TABLE [dbo].[VcbOrders]  WITH CHECK ADD  CONSTRAINT [FK_VcbOrders_UpdatedBy] FOREIGN KEY([UpdatedBy])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[VcbOrders] CHECK CONSTRAINT [FK_VcbOrders_UpdatedBy]
GO
ALTER TABLE [dbo].[VcbShipmentItems]  WITH CHECK ADD  CONSTRAINT [FK_VcbShipmentItems_OrderItem] FOREIGN KEY([OrderItemId])
REFERENCES [dbo].[VcbOrderItems] ([Id])
GO
ALTER TABLE [dbo].[VcbShipmentItems] CHECK CONSTRAINT [FK_VcbShipmentItems_OrderItem]
GO
ALTER TABLE [dbo].[VcbShipmentItems]  WITH CHECK ADD  CONSTRAINT [FK_VcbShipmentItems_Shipment] FOREIGN KEY([ShipmentId])
REFERENCES [dbo].[VcbShipments] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[VcbShipmentItems] CHECK CONSTRAINT [FK_VcbShipmentItems_Shipment]
GO
ALTER TABLE [dbo].[VcbShipmentItems]  WITH CHECK ADD  CONSTRAINT [FK_VcbShipmentItems_Variant] FOREIGN KEY([VariantId])
REFERENCES [dbo].[ProductVariants] ([VariantId])
GO
ALTER TABLE [dbo].[VcbShipmentItems] CHECK CONSTRAINT [FK_VcbShipmentItems_Variant]
GO
ALTER TABLE [dbo].[VcbShipments]  WITH CHECK ADD  CONSTRAINT [FK_VcbShipments_CreatedBy] FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[VcbShipments] CHECK CONSTRAINT [FK_VcbShipments_CreatedBy]
GO
ALTER TABLE [dbo].[VcbShipments]  WITH CHECK ADD  CONSTRAINT [FK_VcbShipments_Delivery] FOREIGN KEY([DeliveryId])
REFERENCES [dbo].[VcbDeliveries] ([Id])
GO
ALTER TABLE [dbo].[VcbShipments] CHECK CONSTRAINT [FK_VcbShipments_Delivery]
GO
ALTER TABLE [dbo].[VcbShipments]  WITH CHECK ADD  CONSTRAINT [FK_VcbShipments_UpdatedBy] FOREIGN KEY([UpdatedBy])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[VcbShipments] CHECK CONSTRAINT [FK_VcbShipments_UpdatedBy]
GO
ALTER TABLE [dbo].[AccountTransactions]  WITH CHECK ADD  CONSTRAINT [CK_AccountTransactions_Type] CHECK  (([Type]='Income' OR [Type]='Expense'))
GO
ALTER TABLE [dbo].[AccountTransactions] CHECK CONSTRAINT [CK_AccountTransactions_Type]
GO
ALTER TABLE [dbo].[Branches]  WITH CHECK ADD  CONSTRAINT [CK_Branches_BranchCode] CHECK  ((len([BranchCode])=(5)))
GO
ALTER TABLE [dbo].[Branches] CHECK CONSTRAINT [CK_Branches_BranchCode]
GO
ALTER TABLE [dbo].[CompanyBankAccounts]  WITH CHECK ADD  CONSTRAINT [CK_CompanyBankAccounts_AccountNo] CHECK  ((NOT [AccountNo] like '%[^0-9]%' AND (len([AccountNo])>=(10) AND len([AccountNo])<=(15))))
GO
ALTER TABLE [dbo].[CompanyBankAccounts] CHECK CONSTRAINT [CK_CompanyBankAccounts_AccountNo]
GO
ALTER TABLE [dbo].[FinancialLedgerEntries]  WITH CHECK ADD  CONSTRAINT [CK_Ledger_DebitCredit] CHECK  (([DebitAmount]>(0) AND [CreditAmount]=(0) OR [CreditAmount]>(0) AND [DebitAmount]=(0)))
GO
ALTER TABLE [dbo].[FinancialLedgerEntries] CHECK CONSTRAINT [CK_Ledger_DebitCredit]
GO
ALTER TABLE [dbo].[PartnerBankAccounts]  WITH CHECK ADD  CONSTRAINT [CK_PartnerBankAccounts_AccountNo] CHECK  ((NOT [AccountNo] like '%[^0-9]%' AND (len([AccountNo])>=(10) AND len([AccountNo])<=(15))))
GO
ALTER TABLE [dbo].[PartnerBankAccounts] CHECK CONSTRAINT [CK_PartnerBankAccounts_AccountNo]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [CK_Products_InventoryGroup] CHECK  (([InventoryGroup]='Internal' OR [InventoryGroup]='ForSale'))
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [CK_Products_InventoryGroup]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [CK_Products_ProductStatus] CHECK  (([ProductStatus]='Discontinued' OR [ProductStatus]='Unavailable' OR [ProductStatus]='Available'))
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [CK_Products_ProductStatus]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [CK_Products_ProductType] CHECK  (([ProductType]='Consumable' OR [ProductType]='Service' OR [ProductType]='Product'))
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [CK_Products_ProductType]
GO
ALTER TABLE [dbo].[ProductVariants]  WITH CHECK ADD  CONSTRAINT [CHK_VariantStatus] CHECK  (([VariantStatus]='Active' OR [VariantStatus]='Inactive' OR [VariantStatus]='Draft'))
GO
ALTER TABLE [dbo].[ProductVariants] CHECK CONSTRAINT [CHK_VariantStatus]
GO
ALTER TABLE [dbo].[Stocks]  WITH CHECK ADD  CONSTRAINT [CHK_Stocks_CurrentQuantity] CHECK  (([CurrentQuantity]>=(0)))
GO
ALTER TABLE [dbo].[Stocks] CHECK CONSTRAINT [CHK_Stocks_CurrentQuantity]
GO
ALTER TABLE [dbo].[Stocks]  WITH CHECK ADD  CONSTRAINT [CHK_Stocks_ReservedNotExceedCurrent] CHECK  (([ReservedQuantity]<=[CurrentQuantity]))
GO
ALTER TABLE [dbo].[Stocks] CHECK CONSTRAINT [CHK_Stocks_ReservedNotExceedCurrent]
GO
ALTER TABLE [dbo].[Stocks]  WITH CHECK ADD  CONSTRAINT [CHK_Stocks_ReservedQuantity] CHECK  (([ReservedQuantity]>=(0)))
GO
ALTER TABLE [dbo].[Stocks] CHECK CONSTRAINT [CHK_Stocks_ReservedQuantity]
GO
ALTER TABLE [dbo].[StockTransactions]  WITH CHECK ADD  CONSTRAINT [CHK_TransactionQty] CHECK  (([Quantity]<>(0)))
GO
ALTER TABLE [dbo].[StockTransactions] CHECK CONSTRAINT [CHK_TransactionQty]
GO
ALTER TABLE [dbo].[StockTransactions]  WITH CHECK ADD  CONSTRAINT [CK_StockTransactions_Type] CHECK  (([TransactionType]='LOST' OR [TransactionType]='DAMAGE' OR [TransactionType]='UNRESERVE' OR [TransactionType]='RESERVE' OR [TransactionType]='ADJUST' OR [TransactionType]='OUT' OR [TransactionType]='IN'))
GO
ALTER TABLE [dbo].[StockTransactions] CHECK CONSTRAINT [CK_StockTransactions_Type]
GO
USE [master]
GO
