USE [master]
GO
/****** Object:  Database [PCS_APP]    Script Date: 16/6/2569 11:44:52 ******/
CREATE DATABASE [PCS_APP]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PCS_APP', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER01\MSSQL\DATA\PCS_APP.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PCS_APP_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER01\MSSQL\DATA\PCS_APP_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PCS_APP].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PCS_APP]
GO
/****** Object:  User [PcsWebApi]    Script Date: 16/6/2569 11:44:52 ******/
CREATE USER [PcsWebApi] FOR LOGIN [PcsWebApi] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [PcsWebApi]
GO
/****** Object:  FullTextCatalog [ProductCatalog]    Script Date: 16/6/2569 11:44:52 ******/
CREATE FULLTEXT CATALOG [ProductCatalog] WITH ACCENT_SENSITIVITY = ON
AS DEFAULT
GO
/****** Object:  Table [dbo].[AccountTransactions]    Script Date: 16/6/2569 11:44:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AccountTransactions](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TransactionDate] [datetime2](7) NOT NULL,
	[Type] [varchar](10) NOT NULL,
	[Amount] [decimal](18, 2) NOT NULL,
	[ReferenceType] [varchar](50) NULL,
	[ReferenceId] [int] NULL,
	[Notes] [nvarchar](max) NULL,
	[CreatedBy] [int] NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Branches]    Script Date: 16/6/2569 11:44:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Branches](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[BranchName] [nvarchar](100) NOT NULL,
	[Address] [nvarchar](max) NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[TaxId] [nvarchar](50) NULL,
	[RegistrationName] [nvarchar](255) NULL,
	[CompanyType] [nvarchar](50) NULL,
	[Phone] [nvarchar](50) NULL,
	[Email] [nvarchar](100) NULL,
	[LogoUrl] [nvarchar](2048) NULL,
	[BranchCode] [nvarchar](5) NOT NULL,
	[IsVatRegistered] [bit] NOT NULL,
	[VatDocumentUrl] [nvarchar](2048) NULL,
	[EntityType] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_Branches] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Branches_BranchCode] UNIQUE NONCLUSTERED 
(
	[BranchCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Branches_BranchName] UNIQUE NONCLUSTERED 
(
	[BranchName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 16/6/2569 11:44:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[CategoryId] [int] IDENTITY(1,1) NOT NULL,
	[CategoryName] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](500) NULL,
	[ParentId] [int] NULL,
	[SortOrder] [int] NOT NULL,
	[IsActive] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Permissions]    Script Date: 16/6/2569 11:44:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Permissions](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PermissionCode] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](255) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Permissions] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Permissions_PermissionCode] UNIQUE NONCLUSTERED 
(
	[PermissionCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductPrices]    Script Date: 16/6/2569 11:44:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductPrices](
	[VariantId] [int] NOT NULL,
	[CurrencyCode] [nvarchar](3) NOT NULL,
	[BasePrice] [decimal](18, 2) NOT NULL,
	[DiscountPrice] [decimal](18, 2) NOT NULL,
	[DiscountPercent]  AS (case when [BasePrice]>(0) then CONVERT([decimal](5,2),(([BasePrice]-[DiscountPrice])/[BasePrice])*(100)) else (0) end) PERSISTED,
	[EffectiveFrom] [datetime2](7) NULL,
	[EffectiveTo] [datetime2](7) NULL,
	[AvgCost90Days] [decimal](18, 2) NOT NULL,
	[MinCost90Days] [decimal](18, 2) NOT NULL,
	[MaxCost90Days] [decimal](18, 2) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[VariantId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 16/6/2569 11:44:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[ProductId] [int] IDENTITY(1,1) NOT NULL,
	[ProductNameTh] [nvarchar](255) NOT NULL,
	[ProductNameEn] [nvarchar](255) NULL,
	[Description] [nvarchar](max) NULL,
	[BrandName] [nvarchar](100) NULL,
	[CategoryId] [int] NOT NULL,
	[ProductType] [nvarchar](20) NOT NULL,
	[IsStockTracked] [bit] NOT NULL,
	[ProductStatus] [nvarchar](20) NOT NULL,
	[CreatedAt] [datetime2](7) NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[CreatedBy] [int] NULL,
	[InventoryGroup] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductVariants]    Script Date: 16/6/2569 11:44:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductVariants](
	[VariantId] [int] IDENTITY(1,1) NOT NULL,
	[ProductId] [int] NOT NULL,
	[Sku] [nvarchar](50) NOT NULL,
	[Barcode] [nvarchar](50) NULL,
	[ImageUrl] [nvarchar](2048) NULL,
	[VariantStatus] [nvarchar](20) NOT NULL,
	[SizeLabel] [nvarchar](50) NULL,
	[Color] [nvarchar](50) NULL,
	[StylePattern] [nvarchar](50) NULL,
	[UnitOfMeasure] [nvarchar](50) NOT NULL,
	[Width] [decimal](10, 2) NOT NULL,
	[Length] [decimal](10, 2) NOT NULL,
	[Height] [decimal](10, 2) NOT NULL,
	[DimensionUnit] [nvarchar](10) NOT NULL,
	[Weight] [decimal](10, 2) NOT NULL,
	[WeightUnit] [nvarchar](10) NOT NULL,
	[Capacity] [decimal](10, 2) NULL,
	[CapacityUnit] [nvarchar](10) NULL,
	[MinOrderQty] [int] NOT NULL,
	[MaxOrderQty] [int] NULL,
	[VariantNameTh] [nvarchar](255) NULL,
	[VariantNameEn] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[VariantId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_ProductVariants_Sku] UNIQUE NONCLUSTERED 
(
	[Sku] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RolePermissions]    Script Date: 16/6/2569 11:44:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RolePermissions](
	[RoleId] [int] NOT NULL,
	[PermissionId] [int] NOT NULL,
 CONSTRAINT [PK_RolePermissions] PRIMARY KEY CLUSTERED 
(
	[RoleId] ASC,
	[PermissionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 16/6/2569 11:44:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](255) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Roles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Roles_RoleName] UNIQUE NONCLUSTERED 
(
	[RoleName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Stocks]    Script Date: 16/6/2569 11:44:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Stocks](
	[VariantId] [int] NOT NULL,
	[CurrentQuantity] [int] NOT NULL,
	[ReservedQuantity] [int] NOT NULL,
	[AvailableQuantity]  AS ([CurrentQuantity]-[ReservedQuantity]) PERSISTED,
	[ReorderPoint] [int] NOT NULL,
	[MaxStockLevel] [int] NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[RowVersion] [timestamp] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[VariantId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Stocks_VariantId] UNIQUE NONCLUSTERED 
(
	[VariantId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StockTransactions]    Script Date: 16/6/2569 11:44:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StockTransactions](
	[TransactionId] [bigint] IDENTITY(1,1) NOT NULL,
	[VariantId] [int] NOT NULL,
	[TransactionType] [nvarchar](20) NOT NULL,
	[Quantity] [int] NOT NULL,
	[UnitCost] [decimal](18, 2) NULL,
	[ReferenceDoc] [nvarchar](50) NULL,
	[Notes] [nvarchar](255) NULL,
	[CreatedAt] [datetime2](7) NULL,
	[CreatedBy] [int] NULL,
	[RequestId] [uniqueidentifier] NULL,
	[BranchId] [int] NULL,
	[QuantityBefore] [int] NULL,
	[QuantityAfter] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[TransactionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Suppliers]    Script Date: 16/6/2569 11:44:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Suppliers](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SupplierCode] [varchar](50) NOT NULL,
	[SupplierName] [nvarchar](255) NOT NULL,
	[ContactName] [nvarchar](255) NULL,
	[Phone] [varchar](50) NULL,
	[Email] [varchar](255) NULL,
	[Address] [nvarchar](max) NULL,
	[TaxId] [varchar](50) NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[UpdatedAt] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[SupplierCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Suppliers_SupplierCode] UNIQUE NONCLUSTERED 
(
	[SupplierCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserPermissions]    Script Date: 16/6/2569 11:44:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserPermissions](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[PermissionId] [int] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_UserPermissions] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_UserPermissions_UserId_PermissionId] UNIQUE NONCLUSTERED 
(
	[UserId] ASC,
	[PermissionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 16/6/2569 11:44:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Email] [nvarchar](256) NOT NULL,
	[PasswordHash] [nvarchar](500) NOT NULL,
	[FullName] [nvarchar](256) NOT NULL,
	[CreatedAt] [datetime2](7) NULL,
	[IsActive] [bit] NULL,
	[Username] [nvarchar](50) NOT NULL,
	[RoleId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VcbDeliveries]    Script Date: 16/6/2569 11:44:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VcbDeliveries](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DeliveryNo] [varchar](50) NOT NULL,
	[OrderDate] [datetime] NOT NULL,
	[ShippingAddress] [nvarchar](max) NOT NULL,
	[DomesticShippingCompany] [nvarchar](100) NOT NULL,
	[TotalAmountBeforeDiscount] [decimal](18, 2) NOT NULL,
	[DiscountAmount] [decimal](18, 2) NOT NULL,
	[TotalAmount] [decimal](18, 2) NOT NULL,
	[TransferredAmount] [decimal](18, 2) NOT NULL,
	[TransferSlipUrl] [nvarchar](500) NULL,
	[Status] [varchar](20) NOT NULL,
	[Notes] [nvarchar](max) NULL,
	[CreatedBy] [int] NULL,
	[CreatedAt] [datetime] NOT NULL,
	[UpdatedAt] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[DeliveryNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VcbDeliveryItems]    Script Date: 16/6/2569 11:44:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VcbDeliveryItems](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DeliveryId] [int] NOT NULL,
	[PackageBoxNo] [varchar](50) NOT NULL,
	[DomesticTrackingNo] [varchar](100) NULL,
	[TotalWeight] [decimal](18, 2) NOT NULL,
	[BoxDimensions] [varchar](50) NULL,
	[ContainedBoxNumbers] [nvarchar](max) NULL,
	[ShippingCost] [decimal](18, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VcbDeliveryOrders]    Script Date: 16/6/2569 11:44:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VcbDeliveryOrders](
	[DeliveryId] [int] NOT NULL,
	[OrderId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[DeliveryId] ASC,
	[OrderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VcbOrderItems]    Script Date: 16/6/2569 11:44:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VcbOrderItems](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[OrderId] [int] NOT NULL,
	[VariantId] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[TotalPrice] [decimal](18, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VcbOrders]    Script Date: 16/6/2569 11:44:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VcbOrders](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[OrderNo] [varchar](50) NOT NULL,
	[OrderDate] [datetime] NOT NULL,
	[TotalAmount] [decimal](18, 2) NOT NULL,
	[Status] [varchar](20) NOT NULL,
	[BranchId] [int] NOT NULL,
	[Notes] [nvarchar](max) NULL,
	[CreatedBy] [int] NULL,
	[CreatedAt] [datetime] NOT NULL,
	[UpdatedAt] [datetime] NOT NULL,
	[TransferSlipUrl] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[OrderNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VcbShipmentItems]    Script Date: 16/6/2569 11:44:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VcbShipmentItems](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ShipmentId] [int] NOT NULL,
	[OrderItemId] [int] NOT NULL,
	[VariantId] [int] NOT NULL,
	[BoxNumbers] [nvarchar](max) NULL,
	[ReceiptStatus] [varchar](20) NOT NULL,
	[ExpectedQuantity] [int] NOT NULL,
	[GoodQuantity] [int] NOT NULL,
	[DefectiveQuantity] [int] NOT NULL,
	[RefundAmount] [decimal](18, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VcbShipments]    Script Date: 16/6/2569 11:44:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VcbShipments](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ReceiptNo] [varchar](50) NOT NULL,
	[ReceiptDate] [datetime] NOT NULL,
	[DeliveryId] [int] NOT NULL,
	[Status] [varchar](20) NOT NULL,
	[Notes] [nvarchar](max) NULL,
	[IsForceCloseOrder] [bit] NOT NULL,
	[CreatedBy] [int] NULL,
	[CreatedAt] [datetime] NOT NULL,
	[UpdatedAt] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[ReceiptNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Index [IX_Categories_ParentId]    Script Date: 16/6/2569 11:44:52 ******/
CREATE NONCLUSTERED INDEX [IX_Categories_ParentId] ON [dbo].[Categories]
(
	[ParentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ProductPrices_VariantId]    Script Date: 16/6/2569 11:44:52 ******/
CREATE NONCLUSTERED INDEX [IX_ProductPrices_VariantId] ON [dbo].[ProductPrices]
(
	[VariantId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Products_CategoryId]    Script Date: 16/6/2569 11:44:52 ******/
CREATE NONCLUSTERED INDEX [IX_Products_CategoryId] ON [dbo].[Products]
(
	[CategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Products_CreatedBy]    Script Date: 16/6/2569 11:44:52 ******/
CREATE NONCLUSTERED INDEX [IX_Products_CreatedBy] ON [dbo].[Products]
(
	[CreatedBy] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Products_ProductId_Desc]    Script Date: 16/6/2569 11:44:52 ******/
CREATE NONCLUSTERED INDEX [IX_Products_ProductId_Desc] ON [dbo].[Products]
(
	[ProductId] DESC
)
INCLUDE([ProductNameTh],[ProductNameEn],[BrandName],[CategoryId],[ProductType],[ProductStatus]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Products_Status]    Script Date: 16/6/2569 11:44:52 ******/
CREATE NONCLUSTERED INDEX [IX_Products_Status] ON [dbo].[Products]
(
	[ProductStatus] ASC
)
INCLUDE([ProductNameTh],[ProductNameEn]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Products_Status_Type_Group]    Script Date: 16/6/2569 11:44:52 ******/
CREATE NONCLUSTERED INDEX [IX_Products_Status_Type_Group] ON [dbo].[Products]
(
	[ProductStatus] ASC,
	[ProductType] ASC,
	[InventoryGroup] ASC
)
INCLUDE([ProductId],[ProductNameTh],[ProductNameEn],[BrandName],[CategoryId]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_ProductVariants_Barcode]    Script Date: 16/6/2569 11:44:52 ******/
CREATE NONCLUSTERED INDEX [IX_ProductVariants_Barcode] ON [dbo].[ProductVariants]
(
	[Barcode] ASC
)
WHERE ([Barcode] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ProductVariants_ProductId]    Script Date: 16/6/2569 11:44:52 ******/
CREATE NONCLUSTERED INDEX [IX_ProductVariants_ProductId] ON [dbo].[ProductVariants]
(
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UX_ProductVariants_Barcode]    Script Date: 16/6/2569 11:44:52 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_ProductVariants_Barcode] ON [dbo].[ProductVariants]
(
	[Barcode] ASC
)
WHERE ([Barcode] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Stocks_VariantId]    Script Date: 16/6/2569 11:44:52 ******/
CREATE NONCLUSTERED INDEX [IX_Stocks_VariantId] ON [dbo].[Stocks]
(
	[VariantId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_StockTransactions_CreatedAt_Desc]    Script Date: 16/6/2569 11:44:52 ******/
CREATE NONCLUSTERED INDEX [IX_StockTransactions_CreatedAt_Desc] ON [dbo].[StockTransactions]
(
	[CreatedAt] DESC
)
INCLUDE([VariantId],[TransactionType],[Quantity],[BranchId]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_StockTransactions_RequestId]    Script Date: 16/6/2569 11:44:52 ******/
CREATE NONCLUSTERED INDEX [IX_StockTransactions_RequestId] ON [dbo].[StockTransactions]
(
	[RequestId] ASC
)
WHERE ([RequestId] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_StockTransactions_TransactionType]    Script Date: 16/6/2569 11:44:52 ******/
CREATE NONCLUSTERED INDEX [IX_StockTransactions_TransactionType] ON [dbo].[StockTransactions]
(
	[TransactionType] ASC,
	[CreatedAt] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_StockTransactions_Type_CreatedAt]    Script Date: 16/6/2569 11:44:52 ******/
CREATE NONCLUSTERED INDEX [IX_StockTransactions_Type_CreatedAt] ON [dbo].[StockTransactions]
(
	[TransactionType] ASC,
	[CreatedAt] DESC
)
INCLUDE([VariantId],[Quantity],[BranchId]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_StockTransactions_VariantId]    Script Date: 16/6/2569 11:44:52 ******/
CREATE NONCLUSTERED INDEX [IX_StockTransactions_VariantId] ON [dbo].[StockTransactions]
(
	[VariantId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_StockTransactions_VariantId_CreatedAt]    Script Date: 16/6/2569 11:44:52 ******/
CREATE NONCLUSTERED INDEX [IX_StockTransactions_VariantId_CreatedAt] ON [dbo].[StockTransactions]
(
	[VariantId] ASC,
	[CreatedAt] DESC
)
INCLUDE([TransactionType],[Quantity],[QuantityBefore],[QuantityAfter],[CreatedBy],[BranchId]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UX_StockTransactions_RequestId]    Script Date: 16/6/2569 11:44:52 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_StockTransactions_RequestId] ON [dbo].[StockTransactions]
(
	[RequestId] ASC
)
WHERE ([RequestId] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Users_Email]    Script Date: 16/6/2569 11:44:52 ******/
CREATE NONCLUSTERED INDEX [IX_Users_Email] ON [dbo].[Users]
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UX_Users_Username]    Script Date: 16/6/2569 11:44:52 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_Users_Username] ON [dbo].[Users]
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_VcbDeliveryItems_DeliveryId]    Script Date: 16/6/2569 11:44:52 ******/
CREATE NONCLUSTERED INDEX [IX_VcbDeliveryItems_DeliveryId] ON [dbo].[VcbDeliveryItems]
(
	[DeliveryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_VcbDeliveryOrders_DeliveryId]    Script Date: 16/6/2569 11:44:52 ******/
CREATE NONCLUSTERED INDEX [IX_VcbDeliveryOrders_DeliveryId] ON [dbo].[VcbDeliveryOrders]
(
	[DeliveryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_VcbDeliveryOrders_OrderId]    Script Date: 16/6/2569 11:44:52 ******/
CREATE NONCLUSTERED INDEX [IX_VcbDeliveryOrders_OrderId] ON [dbo].[VcbDeliveryOrders]
(
	[OrderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_VcbOrderItems_OrderId]    Script Date: 16/6/2569 11:44:52 ******/
CREATE NONCLUSTERED INDEX [IX_VcbOrderItems_OrderId] ON [dbo].[VcbOrderItems]
(
	[OrderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_VcbOrderItems_VariantId]    Script Date: 16/6/2569 11:44:52 ******/
CREATE NONCLUSTERED INDEX [IX_VcbOrderItems_VariantId] ON [dbo].[VcbOrderItems]
(
	[VariantId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_VcbOrders_Status_BranchId_OrderDate]    Script Date: 16/6/2569 11:44:52 ******/
CREATE NONCLUSTERED INDEX [IX_VcbOrders_Status_BranchId_OrderDate] ON [dbo].[VcbOrders]
(
	[Status] ASC,
	[BranchId] ASC,
	[OrderDate] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_VcbShipmentItems_OrderItemId]    Script Date: 16/6/2569 11:44:52 ******/
CREATE NONCLUSTERED INDEX [IX_VcbShipmentItems_OrderItemId] ON [dbo].[VcbShipmentItems]
(
	[OrderItemId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_VcbShipmentItems_ShipmentId]    Script Date: 16/6/2569 11:44:52 ******/
CREATE NONCLUSTERED INDEX [IX_VcbShipmentItems_ShipmentId] ON [dbo].[VcbShipmentItems]
(
	[ShipmentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_VcbShipments_DeliveryId]    Script Date: 16/6/2569 11:44:52 ******/
CREATE NONCLUSTERED INDEX [IX_VcbShipments_DeliveryId] ON [dbo].[VcbShipments]
(
	[DeliveryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AccountTransactions] ADD  CONSTRAINT [DF_AccountTransactions_TransactionDate]  DEFAULT (sysdatetime()) FOR [TransactionDate]
GO
ALTER TABLE [dbo].[AccountTransactions] ADD  CONSTRAINT [DF_AccountTransactions_CreatedAt]  DEFAULT (sysdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Branches] ADD  CONSTRAINT [DF_Branches_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Branches] ADD  CONSTRAINT [DF_Branches_CreatedAt]  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Branches] ADD  CONSTRAINT [DF_Branches_IsVatRegistered]  DEFAULT ((0)) FOR [IsVatRegistered]
GO
ALTER TABLE [dbo].[Branches] ADD  CONSTRAINT [DF_Branches_EntityType]  DEFAULT ('Individual') FOR [EntityType]
GO
ALTER TABLE [dbo].[Categories] ADD  DEFAULT ((0)) FOR [SortOrder]
GO
ALTER TABLE [dbo].[Categories] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Permissions] ADD  CONSTRAINT [DF_Permissions_CreatedAt]  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[ProductPrices] ADD  DEFAULT ('THB') FOR [CurrencyCode]
GO
ALTER TABLE [dbo].[ProductPrices] ADD  DEFAULT ((0.00)) FOR [BasePrice]
GO
ALTER TABLE [dbo].[ProductPrices] ADD  DEFAULT ((0.00)) FOR [DiscountPrice]
GO
ALTER TABLE [dbo].[ProductPrices] ADD  DEFAULT ((0.00)) FOR [AvgCost90Days]
GO
ALTER TABLE [dbo].[ProductPrices] ADD  DEFAULT ((0.00)) FOR [MinCost90Days]
GO
ALTER TABLE [dbo].[ProductPrices] ADD  DEFAULT ((0.00)) FOR [MaxCost90Days]
GO
ALTER TABLE [dbo].[ProductPrices] ADD  DEFAULT (getdate()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[Products] ADD  DEFAULT ('Product') FOR [ProductType]
GO
ALTER TABLE [dbo].[Products] ADD  DEFAULT ((1)) FOR [IsStockTracked]
GO
ALTER TABLE [dbo].[Products] ADD  DEFAULT ('Available') FOR [ProductStatus]
GO
ALTER TABLE [dbo].[Products] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Products] ADD  DEFAULT (getdate()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[Products] ADD  CONSTRAINT [DF_Products_InventoryGroup]  DEFAULT ('ForSale') FOR [InventoryGroup]
GO
ALTER TABLE [dbo].[ProductVariants] ADD  DEFAULT ('Active') FOR [VariantStatus]
GO
ALTER TABLE [dbo].[ProductVariants] ADD  DEFAULT ('') FOR [SizeLabel]
GO
ALTER TABLE [dbo].[ProductVariants] ADD  DEFAULT ('') FOR [Color]
GO
ALTER TABLE [dbo].[ProductVariants] ADD  DEFAULT ('') FOR [StylePattern]
GO
ALTER TABLE [dbo].[ProductVariants] ADD  DEFAULT (N'อัน') FOR [UnitOfMeasure]
GO
ALTER TABLE [dbo].[ProductVariants] ADD  DEFAULT ((0.01)) FOR [Width]
GO
ALTER TABLE [dbo].[ProductVariants] ADD  DEFAULT ((0.01)) FOR [Length]
GO
ALTER TABLE [dbo].[ProductVariants] ADD  DEFAULT ((0.01)) FOR [Height]
GO
ALTER TABLE [dbo].[ProductVariants] ADD  DEFAULT ('cm') FOR [DimensionUnit]
GO
ALTER TABLE [dbo].[ProductVariants] ADD  DEFAULT ((0.01)) FOR [Weight]
GO
ALTER TABLE [dbo].[ProductVariants] ADD  DEFAULT ('kg') FOR [WeightUnit]
GO
ALTER TABLE [dbo].[ProductVariants] ADD  DEFAULT ((1)) FOR [MinOrderQty]
GO
ALTER TABLE [dbo].[Roles] ADD  CONSTRAINT [DF_Roles_CreatedAt]  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Stocks] ADD  DEFAULT ((0)) FOR [CurrentQuantity]
GO
ALTER TABLE [dbo].[Stocks] ADD  DEFAULT ((0)) FOR [ReservedQuantity]
GO
ALTER TABLE [dbo].[Stocks] ADD  DEFAULT ((0)) FOR [ReorderPoint]
GO
ALTER TABLE [dbo].[Stocks] ADD  DEFAULT (getdate()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[StockTransactions] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Suppliers] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Suppliers] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Suppliers] ADD  DEFAULT (getdate()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[UserPermissions] ADD  CONSTRAINT [DF_UserPermissions_CreatedAt]  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((12)) FOR [RoleId]
GO
ALTER TABLE [dbo].[VcbDeliveries] ADD  DEFAULT ((0)) FOR [TotalAmountBeforeDiscount]
GO
ALTER TABLE [dbo].[VcbDeliveries] ADD  DEFAULT ((0)) FOR [DiscountAmount]
GO
ALTER TABLE [dbo].[VcbDeliveries] ADD  DEFAULT ((0)) FOR [TotalAmount]
GO
ALTER TABLE [dbo].[VcbDeliveries] ADD  DEFAULT ((0)) FOR [TransferredAmount]
GO
ALTER TABLE [dbo].[VcbDeliveries] ADD  DEFAULT ('Shipping') FOR [Status]
GO
ALTER TABLE [dbo].[VcbDeliveries] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[VcbDeliveries] ADD  DEFAULT (getdate()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[VcbDeliveryItems] ADD  DEFAULT ((0)) FOR [TotalWeight]
GO
ALTER TABLE [dbo].[VcbDeliveryItems] ADD  DEFAULT ((0)) FOR [ShippingCost]
GO
ALTER TABLE [dbo].[VcbOrderItems] ADD  DEFAULT ((0)) FOR [TotalPrice]
GO
ALTER TABLE [dbo].[VcbOrders] ADD  DEFAULT ((0)) FOR [TotalAmount]
GO
ALTER TABLE [dbo].[VcbOrders] ADD  DEFAULT ('Pending') FOR [Status]
GO
ALTER TABLE [dbo].[VcbOrders] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[VcbOrders] ADD  DEFAULT (getdate()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[VcbShipmentItems] ADD  DEFAULT ((0)) FOR [GoodQuantity]
GO
ALTER TABLE [dbo].[VcbShipmentItems] ADD  DEFAULT ((0)) FOR [DefectiveQuantity]
GO
ALTER TABLE [dbo].[VcbShipmentItems] ADD  DEFAULT ((0)) FOR [RefundAmount]
GO
ALTER TABLE [dbo].[VcbShipments] ADD  DEFAULT (getdate()) FOR [ReceiptDate]
GO
ALTER TABLE [dbo].[VcbShipments] ADD  DEFAULT ('Draft') FOR [Status]
GO
ALTER TABLE [dbo].[VcbShipments] ADD  DEFAULT ((0)) FOR [IsForceCloseOrder]
GO
ALTER TABLE [dbo].[VcbShipments] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[VcbShipments] ADD  DEFAULT (getdate()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[AccountTransactions]  WITH CHECK ADD  CONSTRAINT [FK_AccountTransactions_CreatedBy] FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[AccountTransactions] CHECK CONSTRAINT [FK_AccountTransactions_CreatedBy]
GO
ALTER TABLE [dbo].[Categories]  WITH CHECK ADD  CONSTRAINT [FK_Categories_Parent] FOREIGN KEY([ParentId])
REFERENCES [dbo].[Categories] ([CategoryId])
GO
ALTER TABLE [dbo].[Categories] CHECK CONSTRAINT [FK_Categories_Parent]
GO
ALTER TABLE [dbo].[ProductPrices]  WITH CHECK ADD  CONSTRAINT [FK_ProductPrices_Variants] FOREIGN KEY([VariantId])
REFERENCES [dbo].[ProductVariants] ([VariantId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProductPrices] CHECK CONSTRAINT [FK_ProductPrices_Variants]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_Products_Categories] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Categories] ([CategoryId])
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_Products_Categories]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_Products_Users] FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[Users] ([Id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_Products_Users]
GO
ALTER TABLE [dbo].[ProductVariants]  WITH CHECK ADD  CONSTRAINT [FK_ProductVariants_Products] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([ProductId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProductVariants] CHECK CONSTRAINT [FK_ProductVariants_Products]
GO
ALTER TABLE [dbo].[RolePermissions]  WITH CHECK ADD  CONSTRAINT [FK_RolePermissions_Permissions] FOREIGN KEY([PermissionId])
REFERENCES [dbo].[Permissions] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[RolePermissions] CHECK CONSTRAINT [FK_RolePermissions_Permissions]
GO
ALTER TABLE [dbo].[RolePermissions]  WITH CHECK ADD  CONSTRAINT [FK_RolePermissions_Roles] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Roles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[RolePermissions] CHECK CONSTRAINT [FK_RolePermissions_Roles]
GO
ALTER TABLE [dbo].[Stocks]  WITH CHECK ADD  CONSTRAINT [FK_Stocks_Variants] FOREIGN KEY([VariantId])
REFERENCES [dbo].[ProductVariants] ([VariantId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Stocks] CHECK CONSTRAINT [FK_Stocks_Variants]
GO
ALTER TABLE [dbo].[StockTransactions]  WITH CHECK ADD  CONSTRAINT [FK_StockTransactions_Branches] FOREIGN KEY([BranchId])
REFERENCES [dbo].[Branches] ([Id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[StockTransactions] CHECK CONSTRAINT [FK_StockTransactions_Branches]
GO
ALTER TABLE [dbo].[StockTransactions]  WITH CHECK ADD  CONSTRAINT [FK_StockTransactions_Users] FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[Users] ([Id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[StockTransactions] CHECK CONSTRAINT [FK_StockTransactions_Users]
GO
ALTER TABLE [dbo].[StockTransactions]  WITH CHECK ADD  CONSTRAINT [FK_StockTransactions_Variants] FOREIGN KEY([VariantId])
REFERENCES [dbo].[ProductVariants] ([VariantId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[StockTransactions] CHECK CONSTRAINT [FK_StockTransactions_Variants]
GO
ALTER TABLE [dbo].[UserPermissions]  WITH CHECK ADD  CONSTRAINT [FK_UserPermissions_Permissions] FOREIGN KEY([PermissionId])
REFERENCES [dbo].[Permissions] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserPermissions] CHECK CONSTRAINT [FK_UserPermissions_Permissions]
GO
ALTER TABLE [dbo].[UserPermissions]  WITH CHECK ADD  CONSTRAINT [FK_UserPermissions_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserPermissions] CHECK CONSTRAINT [FK_UserPermissions_Users]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Roles] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Roles] ([Id])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Roles]
GO
ALTER TABLE [dbo].[VcbDeliveries]  WITH CHECK ADD  CONSTRAINT [FK_VcbDeliveries_CreatedBy] FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[VcbDeliveries] CHECK CONSTRAINT [FK_VcbDeliveries_CreatedBy]
GO
ALTER TABLE [dbo].[VcbDeliveryItems]  WITH CHECK ADD  CONSTRAINT [FK_VcbDeliveryItems_Delivery] FOREIGN KEY([DeliveryId])
REFERENCES [dbo].[VcbDeliveries] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[VcbDeliveryItems] CHECK CONSTRAINT [FK_VcbDeliveryItems_Delivery]
GO
ALTER TABLE [dbo].[VcbDeliveryOrders]  WITH CHECK ADD  CONSTRAINT [FK_VcbDeliveryOrders_Delivery] FOREIGN KEY([DeliveryId])
REFERENCES [dbo].[VcbDeliveries] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[VcbDeliveryOrders] CHECK CONSTRAINT [FK_VcbDeliveryOrders_Delivery]
GO
ALTER TABLE [dbo].[VcbDeliveryOrders]  WITH CHECK ADD  CONSTRAINT [FK_VcbDeliveryOrders_Order] FOREIGN KEY([OrderId])
REFERENCES [dbo].[VcbOrders] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[VcbDeliveryOrders] CHECK CONSTRAINT [FK_VcbDeliveryOrders_Order]
GO
ALTER TABLE [dbo].[VcbOrderItems]  WITH CHECK ADD  CONSTRAINT [FK_VcbOrderItem_Order] FOREIGN KEY([OrderId])
REFERENCES [dbo].[VcbOrders] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[VcbOrderItems] CHECK CONSTRAINT [FK_VcbOrderItem_Order]
GO
ALTER TABLE [dbo].[VcbOrderItems]  WITH CHECK ADD  CONSTRAINT [FK_VcbOrderItem_Variant] FOREIGN KEY([VariantId])
REFERENCES [dbo].[ProductVariants] ([VariantId])
GO
ALTER TABLE [dbo].[VcbOrderItems] CHECK CONSTRAINT [FK_VcbOrderItem_Variant]
GO
ALTER TABLE [dbo].[VcbOrders]  WITH CHECK ADD  CONSTRAINT [FK_VcbOrders_Branch] FOREIGN KEY([BranchId])
REFERENCES [dbo].[Branches] ([Id])
GO
ALTER TABLE [dbo].[VcbOrders] CHECK CONSTRAINT [FK_VcbOrders_Branch]
GO
ALTER TABLE [dbo].[VcbOrders]  WITH CHECK ADD  CONSTRAINT [FK_VcbOrders_CreatedBy] FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[VcbOrders] CHECK CONSTRAINT [FK_VcbOrders_CreatedBy]
GO
ALTER TABLE [dbo].[VcbShipmentItems]  WITH CHECK ADD  CONSTRAINT [FK_VcbShipmentItems_OrderItem] FOREIGN KEY([OrderItemId])
REFERENCES [dbo].[VcbOrderItems] ([Id])
GO
ALTER TABLE [dbo].[VcbShipmentItems] CHECK CONSTRAINT [FK_VcbShipmentItems_OrderItem]
GO
ALTER TABLE [dbo].[VcbShipmentItems]  WITH CHECK ADD  CONSTRAINT [FK_VcbShipmentItems_Shipment] FOREIGN KEY([ShipmentId])
REFERENCES [dbo].[VcbShipments] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[VcbShipmentItems] CHECK CONSTRAINT [FK_VcbShipmentItems_Shipment]
GO
ALTER TABLE [dbo].[VcbShipmentItems]  WITH CHECK ADD  CONSTRAINT [FK_VcbShipmentItems_Variant] FOREIGN KEY([VariantId])
REFERENCES [dbo].[ProductVariants] ([VariantId])
GO
ALTER TABLE [dbo].[VcbShipmentItems] CHECK CONSTRAINT [FK_VcbShipmentItems_Variant]
GO
ALTER TABLE [dbo].[VcbShipments]  WITH CHECK ADD  CONSTRAINT [FK_VcbShipments_CreatedBy] FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[VcbShipments] CHECK CONSTRAINT [FK_VcbShipments_CreatedBy]
GO
ALTER TABLE [dbo].[VcbShipments]  WITH CHECK ADD  CONSTRAINT [FK_VcbShipments_Delivery] FOREIGN KEY([DeliveryId])
REFERENCES [dbo].[VcbDeliveries] ([Id])
GO
ALTER TABLE [dbo].[VcbShipments] CHECK CONSTRAINT [FK_VcbShipments_Delivery]
GO
ALTER TABLE [dbo].[AccountTransactions]  WITH CHECK ADD  CONSTRAINT [CK_AccountTransactions_Type] CHECK  (([Type]='Income' OR [Type]='Expense'))
GO
ALTER TABLE [dbo].[AccountTransactions] CHECK CONSTRAINT [CK_AccountTransactions_Type]
GO
ALTER TABLE [dbo].[Branches]  WITH CHECK ADD  CONSTRAINT [CK_Branches_BranchCode] CHECK  ((len([BranchCode])=(5)))
GO
ALTER TABLE [dbo].[Branches] CHECK CONSTRAINT [CK_Branches_BranchCode]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [CK_Products_InventoryGroup] CHECK  (([InventoryGroup]='Internal' OR [InventoryGroup]='ForSale'))
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [CK_Products_InventoryGroup]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [CK_Products_ProductStatus] CHECK  (([ProductStatus]='Discontinued' OR [ProductStatus]='Unavailable' OR [ProductStatus]='Available'))
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [CK_Products_ProductStatus]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [CK_Products_ProductType] CHECK  (([ProductType]='Consumable' OR [ProductType]='Service' OR [ProductType]='Product'))
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [CK_Products_ProductType]
GO
ALTER TABLE [dbo].[ProductVariants]  WITH CHECK ADD  CONSTRAINT [CHK_VariantStatus] CHECK  (([VariantStatus]='Active' OR [VariantStatus]='Inactive' OR [VariantStatus]='Draft'))
GO
ALTER TABLE [dbo].[ProductVariants] CHECK CONSTRAINT [CHK_VariantStatus]
GO
ALTER TABLE [dbo].[Stocks]  WITH CHECK ADD  CONSTRAINT [CHK_Stocks_CurrentQuantity] CHECK  (([CurrentQuantity]>=(0)))
GO
ALTER TABLE [dbo].[Stocks] CHECK CONSTRAINT [CHK_Stocks_CurrentQuantity]
GO
ALTER TABLE [dbo].[Stocks]  WITH CHECK ADD  CONSTRAINT [CHK_Stocks_ReservedNotExceedCurrent] CHECK  (([ReservedQuantity]<=[CurrentQuantity]))
GO
ALTER TABLE [dbo].[Stocks] CHECK CONSTRAINT [CHK_Stocks_ReservedNotExceedCurrent]
GO
ALTER TABLE [dbo].[Stocks]  WITH CHECK ADD  CONSTRAINT [CHK_Stocks_ReservedQuantity] CHECK  (([ReservedQuantity]>=(0)))
GO
ALTER TABLE [dbo].[Stocks] CHECK CONSTRAINT [CHK_Stocks_ReservedQuantity]
GO
ALTER TABLE [dbo].[StockTransactions]  WITH CHECK ADD  CONSTRAINT [CHK_TransactionQty] CHECK  (([Quantity]<>(0)))
GO
ALTER TABLE [dbo].[StockTransactions] CHECK CONSTRAINT [CHK_TransactionQty]
GO
ALTER TABLE [dbo].[StockTransactions]  WITH CHECK ADD  CONSTRAINT [CK_StockTransactions_Type] CHECK  (([TransactionType]='LOST' OR [TransactionType]='DAMAGE' OR [TransactionType]='UNRESERVE' OR [TransactionType]='RESERVE' OR [TransactionType]='ADJUST' OR [TransactionType]='OUT' OR [TransactionType]='IN'))
GO
ALTER TABLE [dbo].[StockTransactions] CHECK CONSTRAINT [CK_StockTransactions_Type]
GO
USE [master]
GO
